<!-- logged_out.html -->
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

	<title>Logged Out of GGV</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/ggv.css' %}">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  </head>

  <body>

    <div class="container text-center">
        <div class="col-md-6 col-md-offset-3 text-center">
    	<h2 class="page-header text-center">Adiós Amigo!</h2>
    	Come <a href="{% url 'ggvhome' %}">back</a> anytime!
        <h2 class="well label-danger text-center" style="background: pink">If this is a public computer you SHOULD absolutely make sure you are logged out of your Google account.</h2>
        <h2><a class="btn btn-lg btn-warning text-center" href="https://accounts.google.com/Logout?&continue=https://www.google.com/#q=GED">Log me out of my Google account now!</a></h2>
    </div>
    </div> <!-- /container -->
  </body>
</html>
