<!-- login.html -->
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

	<title>Signin to GGV</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link href="{% static 'css/ggv.css' %}" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  </head>
  <body>

    <div class="container">
		<form class="form-signin" role="form" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<img src="{% static 'img/logo.jpg' %}" style="width: 100%"/>
			<h2 class="form-signin-heading">GED Gone Virtual</h2>
			{% if form.errors %}
			<h3>Your username and password didn't match. Please try again.</he>
			{% endif %}
			<input id="id_username" name="username" type="username" class="form-control" placeholder="Username" required autofocus>
			<input  id="id_password" name="password"type="password" class="form-control" placeholder="Password" required>
			<button class="btn btn-lg btn-default btn-block" type="submit" value="login">Sign in</button>
		</form>
    </div>
  </body>
</html>
