<div class="table-responsive"><table class="table table-bordered">
<tbody>
<tr>
<td colspan="5" rowspan="1">
<p><span>MATHEMATICS STUDY GUIDE</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>Pretest Score</span></p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p><span>Start </span></p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p><span>Recommendations</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>80 to 130</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Module 2</span></p>
</td>
<td colspan="1" rowspan="5">
<ul>
<li><span>Module 1 is mandatory.</span></li>
<li><span>Complete the mathematics modules in the order presented in the curriculum. </span></li>
<li><span>Complete the quizzes at the end of each module to assess your progress.</span></li>
<li><span>Bookmark presentations and worksheets according to status of completion and proficiency.</span></li>
</ul>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>131 to 140</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Module 2</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>141 to 150</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Module 4</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>151 to 160</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Module 9</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>161 to 200</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Module 18</span></p>
</td>
</tr>
</tbody>
</table>
<table class="table table-bordered">
<tbody>
<tr>
<td colspan="5" rowspan="1">
<p><span>Approximate Preparation Time - Based on Educational Plan 3</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>Modules</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Weeks</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>&nbsp;Hours Per Week</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>1</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Introduction to Math Test</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>Week 1</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>12</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>2</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Place Value &nbsp;</span></p>
<p><span>Rounding Off</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Patterns</span></p>
<p><span>Word Problems</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>3</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Average </span></p>
<p><span>Range</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Mode</span></p>
<p><span>Median</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>4</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Order of Operations</span></p>
<p><span>Expressions</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Fractions</span></p>
<p><span>Ratios</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Weeks 2 &amp; 3</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>24</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>5</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Decimals</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>Weeks 4 &amp; 5</span></p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="3">
<p><span>24</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>6</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Percents</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>7</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Probability</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>8</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Proportions</span></p>
</td>
<td colspan="1" rowspan="2">
<p><span>Week 6</span></p>
</td>
<td colspan="1" rowspan="2">
<p><span>12</span></p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>9</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Geometry</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>10</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Scientific Notation</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>Week 7</span></p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="3">
<p><span>12</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>11</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Pythagorean</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>12</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Number Line</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Signed Numbers</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>13</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Algebraic Expressions and Equations</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Week 8</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>12</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>14</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Coordinates</span></p>
<p><span>Slope</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Slope Intercept</span></p>
<p><span>Function</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Week 9</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>12</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>15</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Trigonometry</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>Week 10</span></p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="3">
<p><span>12</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>16</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Clock</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>17</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Calendar</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>18</span></p>
</td>
<td colspan="2" rowspan="1">
<p><span>Post Tests</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Weeks 11 &amp; 12</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>24</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>TOTAL MATHEMATICS STUDY TIME</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>12 Weeks</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>144 hours</span></p>
</td>
</tr>
</tbody>
</table>
</div>