<div class="table-responsive">
<table class="table table-bordered">
<tbody>
<tr>
<td colspan="5" rowspan="1">
<p>GU&Iacute;A DE ESTUDIO DE CIENCIAS</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>Punctuaci&oacute;n</p>
<p>Prueba Pre</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>Comenzar</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>Recomendaciones</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>80 a 130</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 2</p>
</td>
<td colspan="1" rowspan="5">
<ul>
<li>El m&oacute;dulo 1 es obligatorio.</li>
<li>Complete los m&oacute;dulos de matem&aacute;ticas en el orden presentado en el plan de estudios.</li>
<li>Complete las pruebas al final de cada m&oacute;dulo para evaluar su progreso.</li>
<li>Marque las presentaciones y las hojas de trabajo de acuerdo con el estado de finalizaci&oacute;n y competencia.</li>
</ul>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>131 a 140</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 2</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>141 a 150</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 4</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>151 a 160</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 13</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>161 a 200</p>
</td>
<td colspan="1" rowspan="1">
<p>Opcional</p>
</td>
</tr>
</tbody>
</table>
<table class="table table-bordered">
<tbody>
<tr>
<td colspan="4" rowspan="1">
<p>Tiempo Aproximado de Preparaci&oacute;n - Basado en el Plan Educativo 3</p>
</td>
</tr>
<tr>
<td colspan="2" rowspan="1">
<p>M&oacute;dulos</p>
</td>
<td colspan="1" rowspan="1">
<p>Semanas</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;Horas Por Semana</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>1</p>
</td>
<td colspan="1" rowspan="1">
<p>Introducci&oacute;n A La Ciencia</p>
</td>
<td colspan="1" rowspan="3">
<p>Semana 1</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="3">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>2</p>
</td>
<td colspan="1" rowspan="1">
<p>El Cuerpo Humano</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>3</p>
</td>
<td colspan="1" rowspan="1">
<p>M&eacute;todo Cient&iacute;fico, Hecho, Hip&oacute;tesis, Opini&oacute;n</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>4</p>
</td>
<td colspan="1" rowspan="1">
<p>El Ciclo De Agua</p>
</td>
<td colspan="1" rowspan="3">
<p>Semana 2</p>
</td>
<td colspan="1" rowspan="3">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>5</p>
</td>
<td colspan="1" rowspan="1">
<p>Fotos&iacute;ntesis</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>6</p>
</td>
<td colspan="1" rowspan="1">
<p>Germenes</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>7</p>
</td>
<td colspan="1" rowspan="1">
<p>Clasificaci&oacute;n</p>
</td>
<td colspan="1" rowspan="3">
<p>Semana 3</p>
</td>
<td colspan="1" rowspan="3">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>8</p>
</td>
<td colspan="1" rowspan="1">
<p>Reproducci&oacute;n</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>9</p>
</td>
<td colspan="1" rowspan="1">
<p>Ecosistemas</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>10</p>
</td>
<td colspan="1" rowspan="1">
<p>Geolog&iacute;a</p>
</td>
<td colspan="1" rowspan="3">
<p>Semana 4</p>
</td>
<td colspan="1" rowspan="3">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>11</p>
</td>
<td colspan="1" rowspan="1">
<p>Energia</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>12</p>
</td>
<td colspan="1" rowspan="1">
<p>Cadena Alimenticia</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>13</p>
</td>
<td colspan="1" rowspan="1">
<p>Secciones 1-19</p>
<ul>
<li>Ciencias De La Vida</li>
<li>Ciencias F&iacute;sicas</li>
<li>Ciencias De La Tierra</li>
<li>Ciencias Del Espacio</li>
</ul>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>Semanas 5, 6, 7, &amp; 8</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>12</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>14</p>
</td>
<td colspan="1" rowspan="1">
<p>Respuestas Cortas</p>
</td>
<td colspan="1" rowspan="1">
<p>Semana 9</p>
</td>
<td colspan="1" rowspan="1">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>15</p>
</td>
<td colspan="1" rowspan="1">
<p>Pruebas De Ciencia</p>
</td>
<td colspan="1" rowspan="1">
<p>Semanas 10, 11, &amp; 12</p>
</td>
<td colspan="1" rowspan="1">
<p>9</p>
</td>
</tr>
<tr>
<td colspan="2" rowspan="1">
<p>TIEMPO TOTAL DEL ESTUDIO</p>
<p>DE CIENCIAS</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>12 Semanas</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>36 Horas</p>
</td>
</tr>
</tbody>
</table>
</div>