<div class="table-responsive">
<table class="table table-bordered" style="text-align: center;">
<tbody>
<tr>
<td colspan="7" rowspan="1">
<p>PLAN EDUCATIVO DE CIENCIAS</p>
<p>Es Una Aproximaci&oacute;n</p>
<p>Basado en 3 horas Por Semana de Tiempo de Estudio</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>1</p>
<p>PRUEBA PRE&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>2</p>
<p>PLAN</p>
</td>
<td colspan="1" rowspan="1">
<p>3</p>
<p>CURR&Iacute;CULO</p>
</td>
<td colspan="2" rowspan="1">
<p>4</p>
<p>PRUEBA DE PREPARACI&Oacute;N</p>
</td>
<td colspan="2" rowspan="1">
<p>5</p>
<p>PRUEBA OFICIAL</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Puntuaciones</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>Basado a la Prueba Pre</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Duraci&oacute;n</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Registra Prueba de Preparaci&oacute;n</p>
</td>
<td colspan="1" rowspan="1">
<p>Puntaje de Aprobaci&oacute;n Recomendado</p>
<p>en la</p>
<p>Prueba de Preparaci&oacute;n</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Registra</p>
<p>Prueba Oficial&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>Puntaje de Aprobaci&oacute;n</p>
<p>M&iacute;nimo</p>
<p>Prueba Oficial</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>160 a 200</p>
</td>
<td colspan="1" rowspan="1">
<p>1</p>
</td>
<td colspan="1" rowspan="1">
<p>Opcional</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>Opcional</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>-</p>
</td>
<td colspan="1" rowspan="1">
<p>Dentro de</p>
<p>4 semanas</p>
<p>de Tomar la</p>
<p>Prueba Pre&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>145</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>120 a 152</p>
</td>
<td colspan="1" rowspan="1">
<p>2</p>
</td>
<td colspan="1" rowspan="1">
<p>8</p>
<p>Semanas</p>
</td>
<td colspan="1" rowspan="1">
<p>8 semanas despu&eacute;s de iniciar&nbsp;el curr&iacute;culo</p>
</td>
<td colspan="1" rowspan="1">
<p>149</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>Dentro de</p>
<p>4 semanas</p>
<p>de Pasar la</p>
<p>Prueba de Preparaci&oacute;n&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>145</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>&nbsp; 88 a 112</p>
</td>
<td colspan="1" rowspan="1">
<p>3</p>
</td>
<td colspan="1" rowspan="1">
<p>12</p>
<p>Semanas&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>12 despu&eacute;s de iniciar&nbsp;el curr&iacute;culo</p>
</td>
<td colspan="1" rowspan="1">
<p>149</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>Dentro de</p>
<p>4 semanas</p>
<p>de Pasar la</p>
<p>Prueba de Preparaci&oacute;n&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>145</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>&nbsp; 80 &amp; below</p>
</td>
<td colspan="1" rowspan="1">
<p>4</p>
</td>
<td colspan="1" rowspan="1">
<p>52</p>
<p>Semanas&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>52 despu&eacute;s de iniciar&nbsp;el curr&iacute;culo</p>
</td>
<td colspan="1" rowspan="1">
<p>149</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>Dentro de</p>
<p>4 semanas</p>
<p>de Pasar la</p>
<p>Prueba de Preparaci&oacute;n</p>
</td>
<td colspan="1" rowspan="1">
<p>145</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</div>