<div class="table-responsive">
<table class="table table-bordered">
<tbody>
<tr>
<td colspan="5" rowspan="1">
<p>GU&Iacute;A DE ESTUDIO DE ESTUDIO SOCIALES</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>Punctuaci&oacute;n</p>
<p>De Prueba Pre</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>Comenzar</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;</p>
<p>Recomendaciones</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>80 a 130</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 2</p>
</td>
<td colspan="1" rowspan="5">
<ul>
<li>El M&oacute;dulo 1 es obligatorio.</li>
<li>Complete los m&oacute;dulos de matem&aacute;ticas en el orden presentado en el plan de estudios.</li>
<li>Complete las pruebas al final de cada m&oacute;dulo para evaluar su progreso.</li>
<li>Marque las presentaciones y las hojas de trabajo de acuerdo con el estado de finalizaci&oacute;n y competencia.</li>
</ul>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>131 a 140</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 2</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>141 a 150</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 2</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>151 a 160</p>
</td>
<td colspan="1" rowspan="1">
<p>M&oacute;dulo 2</p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p>161 a 200</p>
</td>
<td colspan="1" rowspan="1">
<p>Opcional</p>
</td>
</tr>
</tbody>
</table>
<table class="table table-bordered">
<tbody>
<tr>
<td colspan="4" rowspan="1">
<p>Tiempo Aproximado de Preparaci&oacute;n - Basado en el Plan Educativo 3</p>
</td>
</tr>
<tr>
<td colspan="2" rowspan="1">
<p>M&oacute;dulos</p>
</td>
<td colspan="1" rowspan="1">
<p>Semanas</p>
</td>
<td colspan="1" rowspan="1">
<p>&nbsp;Horas Por Semana</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>1</p>
</td>
<td colspan="1" rowspan="1">
<p>Introducci&oacute;n A Los Estudios Sociales</p>
</td>
<td colspan="1" rowspan="2">
<p>Semana 1</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="2">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>2</p>
</td>
<td colspan="1" rowspan="1">
<p>Mapa De Alfabetismo</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>3</p>
</td>
<td colspan="1" rowspan="1">
<p>Geograf&iacute;a</p>
</td>
<td colspan="1" rowspan="1">
<p>Semana 2</p>
</td>
<td colspan="1" rowspan="1">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>4</p>
</td>
<td colspan="1" rowspan="1">
<p>Gobierno y Educaci&oacute;n C&iacute;vica</p>
<ul>
<li>Controles y Equilibrios</li>
<li>Sufragista</li>
<li>Destino Manifiesto</li>
<li>Hacia Al Oeste Expansi&oacute;n</li>
<li>Politicas</li>
</ul>
</td>
<td colspan="1" rowspan="1">
<p>Semana 3</p>
</td>
<td colspan="1" rowspan="1">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>5</p>
</td>
<td colspan="1" rowspan="1">
<p>Econom&iacute;a</p>
<ul>
<li>La Industria</li>
<li>Ley de Oferta y Demanda</li>
</ul>
</td>
<td colspan="1" rowspan="1">
<p>Semana 4</p>
</td>
<td colspan="1" rowspan="1">
<p>3</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>6</p>
</td>
<td colspan="1" rowspan="1">
<p>Caricaturas Pol&iacute;ticas</p>
</td>
<td colspan="1" rowspan="1">
<p>Semana 5</p>
</td>
<td colspan="1" rowspan="1">
<p>3</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>7</p>
</td>
<td colspan="1" rowspan="1">
<p>Estudios Sociales Secciones</p>
<ul>
<li>Historia</li>
<li>Gobierno</li>
<li>Geograf&iacute;a</li>
<li>Econom&iacute;a</li>
</ul>
</td>
<td colspan="1" rowspan="1">
<p>Semanas 6,7,8 &amp; 9</p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="1">
<p>12</p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p>8</p>
</td>
<td colspan="1" rowspan="1">
<p>Pruebas de Preparaci&oacute;n</p>
</td>
<td colspan="1" rowspan="1">
<p>Semanas 10,11 &amp; 12</p>
</td>
<td colspan="1" rowspan="1">
<p>9</p>
</td>
</tr>
<tr>
<td colspan="2" rowspan="1">
<p>TIEMPO TOTAL DEL ESTUDIO DE ESTUDIOS SOCIALES</p>
</td>
<td colspan="1" rowspan="1">
<p>12 Semanas</p>
</td>
<td colspan="1" rowspan="1">
<p>36 Horas</p>
</td>
</tr>
</tbody>
</table>
</div>