<div class="table-responsive"><table class="table table-bordered" style="text-align: center;">
<tbody>
<tr class="c37">
<td class="c30 c61" colspan="7" rowspan="1">
<p class="c4"><span class="c51">SOCIAL STUDIES EDUCATIONAL PLAN</span></p>
<p class="c4"><span class="c51">Is An Approximation</span></p>
<p class="c4"><span class="c51">Based on 3 Hours Per Week of Study Time</span></p>
</td>
</tr>
<tr class="c26">
<td class="c52 c30" colspan="1" rowspan="1">
<p class="c29"><span class="c51">1 </span></p>
<p class="c29"><span class="c51">PRE TEST </span></p>
</td>
<td class="c15 c30" colspan="1" rowspan="1">
<p class="c29"><span class="c51">2 </span></p>
<p class="c29"><span class="c51">PLAN</span></p>
</td>
<td class="c59 c30" colspan="1" rowspan="1">
<p class="c29"><span class="c51">3 </span></p>
<p class="c29"><span class="c51">CURRICULUM</span></p>
</td>
<td class="c30 c84" colspan="2" rowspan="1">
<p class="c29"><span class="c57 c79">4</span></p>
<p class="c29"><span class="c51">POST TEST</span></p>
</td>
<td class="c30 c86" colspan="2" rowspan="1">
<p class="c29"><span class="c51">5 </span></p>
<p class="c29"><span class="c51">OFFICIAL TEST</span></p>
</td>
</tr>
<tr class="c39">
<td class="c52 c56" colspan="1" rowspan="1">
<p class="c4"><span class="c1">Scores</span></p>
</td>
<td class="c15 c56" colspan="1" rowspan="1">
<p class="c4"><span class="c1">Based On</span></p>
<p class="c4"><span class="c1">Pre Test</span></p>
<p class="c4"><span class="c1">Score</span></p>
</td>
<td class="c48" colspan="1" rowspan="1">
<p class="c4"><span class="c1">Duration</span></p>
</td>
<td class="c53 c56" colspan="1" rowspan="1">
<p class="c4"><span class="c1">Schedule </span></p>
<p class="c4"><span class="c1">Post Test</span></p>
</td>
<td class="c60 c56" colspan="1" rowspan="1">
<p class="c4"><span class="c1">Recommended Passing Score on </span></p>
<p class="c4"><span class="c1">Post Test </span></p>
</td>
<td class="c64 c56" colspan="1" rowspan="1">
<p class="c4"><span class="c1">Schedule </span></p>
<p class="c4"><span class="c1">Official Test </span></p>
</td>
<td class="c22 c56" colspan="1" rowspan="1">
<p class="c4"><span class="c1">Minimum</span></p>
<p class="c4"><span class="c1">Passing Score on</span></p>
<p class="c4"><span class="c1">Official Test</span></p>
</td>
</tr>
<tr class="c38">
<td class="c52" colspan="1" rowspan="1">
<p class="c4"><span class="c3">160 to 200 </span></p>
</td>
<td class="c15" colspan="1" rowspan="1">
<p class="c4"><span class="c1">1</span></p>
</td>
<td class="c59" colspan="1" rowspan="1">
<p class="c4"><span class="c3">Optional</span></p>
</td>
<td class="c53" colspan="1" rowspan="1">
<p class="c4"><span class="c3">Optional</span></p>
</td>
<td class="c60" colspan="1" rowspan="1">
<p class="c4"><span class="c3">-</span></p>
</td>
<td class="c64" colspan="1" rowspan="1">
<p class="c4"><span class="c3">Within 4 Weeks </span></p>
<p class="c4"><span class="c10">of </span><span class="c50">Taking</span><span class="c3">&nbsp;</span></p>
<p class="c4"><span class="c3">Pre Test </span></p>
</td>
<td class="c22" colspan="1" rowspan="1">
<p class="c4"><span class="c3">145</span></p>
</td>
</tr>
<tr class="c18">
<td class="c52" colspan="1" rowspan="1">
<p class="c4"><span class="c3">120 to 152</span></p>
</td>
<td class="c15" colspan="1" rowspan="1">
<p class="c4"><span class="c1">2</span></p>
</td>
<td class="c59" colspan="1" rowspan="1">
<p class="c4"><span class="c3">8 </span></p>
<p class="c4"><span class="c3">Weeks</span></p>
</td>
<td class="c53" colspan="1" rowspan="1">
<p class="c4"><span class="c10">8 &nbsp;Weeks After </span><span class="c50">Starting</span><span class="c3">&nbsp;Curriculum</span></p>
</td>
<td class="c60" colspan="1" rowspan="1">
<p class="c4"><span class="c3">149</span></p>
</td>
<td class="c64" colspan="1" rowspan="1">
<p class="c4"><span class="c3">Within 1 Week</span></p>
<p class="c4"><span class="c10">of </span><span class="c50">Passing</span><span class="c3">&nbsp;</span></p>
<p class="c4"><span class="c3">Post Test </span></p>
</td>
<td class="c22" colspan="1" rowspan="1">
<p class="c4"><span class="c3">145</span></p>
<p class="c0">&nbsp;</p>
</td>
</tr>
<tr class="c18">
<td class="c52" colspan="1" rowspan="1">
<p class="c4"><span class="c3">&nbsp; 88 to 112 </span></p>
</td>
<td class="c15" colspan="1" rowspan="1">
<p class="c4"><span class="c1">3</span></p>
</td>
<td class="c59" colspan="1" rowspan="1">
<p class="c4"><span class="c3">12 </span></p>
<p class="c4"><span class="c3">Weeks </span></p>
</td>
<td class="c53" colspan="1" rowspan="1">
<p class="c4"><span class="c3">12 Weeks</span></p>
<p class="c4"><span class="c10">After </span><span class="c50">Starting </span><span class="c3">Curriculum</span></p>
</td>
<td class="c60" colspan="1" rowspan="1">
<p class="c4"><span class="c3">149</span></p>
</td>
<td class="c64" colspan="1" rowspan="1">
<p class="c4"><span class="c3">Within 1 Week </span></p>
<p class="c4"><span class="c10">of </span><span class="c50">Passing</span><span class="c3">&nbsp;</span></p>
<p class="c4"><span class="c3">Post Test </span></p>
</td>
<td class="c22" colspan="1" rowspan="1">
<p class="c4"><span class="c3">145</span></p>
</td>
</tr>
<tr class="c18">
<td class="c52" colspan="1" rowspan="1">
<p class="c4"><span class="c3">&nbsp; 80 &amp; below</span></p>
</td>
<td class="c15" colspan="1" rowspan="1">
<p class="c4"><span class="c1">4</span></p>
</td>
<td class="c59" colspan="1" rowspan="1">
<p class="c4"><span class="c3">52 </span></p>
<p class="c4"><span class="c3">Weeks </span></p>
</td>
<td class="c53" colspan="1" rowspan="1">
<p class="c4"><span class="c3">52 weeks</span></p>
<p class="c4"><span class="c10">After </span><span class="c50">Starting</span><span class="c3">&nbsp;Curriculum</span></p>
</td>
<td class="c60" colspan="1" rowspan="1">
<p class="c4"><span class="c3">149</span></p>
</td>
<td class="c64" colspan="1" rowspan="1">
<p class="c4"><span class="c3">Within 1 Week </span></p>
<p class="c4"><span class="c10">of </span><span class="c50">Passing</span><span class="c3">&nbsp;</span></p>
<p class="c4"><span class="c3">Post Test </span></p>
</td>
<td class="c22" colspan="1" rowspan="1">
<p class="c4"><span class="c3">145</span></p>
</td>
</tr>
</tbody>
</table></div>