<div><img src="/static/img/steps-to-completion.png" width="480px"/></div>
<ol>
	<li>Pretest in the Following Content Areas</li>
	<ol>
		<li>Language Arts/Reading</li>
		<li>Math</li>
		<li>Science</li>
		<li>Social Studies</li>
	</ol>
	<li>Review Pretest Scores</li>
	<ol>
		<li>If you score under 160, study the curriculum.</li>
		<li>If you score over 160, schedule an official test.</li>
	</ol>
<li>Use GGV Curriculum to Study</li>
<li>When Modules in the Curriculum Are Completed, Request a Post Test</li>
<li>Review Post Test Scores</li>
	<ol>
		<li>If you score under 149, study the curriculum.</li>
		<li>If you score over 149, schedule an official test(s).</li>
	</ol>
<li>Review Official Test Score(s)</li>
	<ol>
		<li>If you score under 145, study the curriculum.</li>
		<li>If you score over 145, you passed that test.</li>
	</ol>
<li>Review Pretest Scores If You Have Not Passed 4 Official Tests</li>
	<ol>
		<li>If you score under 160, study the curriculum.</li>
		<li>If you score over 160, schedule next official test.</li>
	</ol>
<li>Pass all 4 of Your Official GED tests</li>
<li>Graduate</li>
<li>Order Your GED Certificate</li>
</ol>
