<!-- steps-to-completion.html -->
<div><img src="/static/img/steps-to-completion-span.png" width="480px"/></div>
<ol>
<li>Prueba preliminar en las siguientes &aacute;reas de contenido</li>
<ol>
<li>Artes del lenguaje / lectura</li>
<li>Matem&aacute;ticas</li>
<li>Ciencia</li>
<li>Estudios Sociales</li>
</ol>
<li>Revisa los puntajes de la prueba preliminar</li>
<ol>
<li>Si tienes un puntaje por debajo de 160, estudia el curr&iacute;culo.</li>
<li>Si tienes m&aacute;s de 160 puntos, registra una prueba oficial.</li>
</ol>
<li>Usa el plan de estudios de GGV para estudiar</li>
<li>Cuando se completen los m&oacute;dulos en el curr&iacute;culo, solicite una prueba de preparaci&oacute;n</li>
<li>Revisa los resultados de prueba de preparaci&oacute;n</li>
<ol>
<li>Si calificas por debajo de 149, estudia el curr&iacute;culo.</li>
<li>Si calificas m&aacute;s de 149, registra una prueba oficial (es).</li>
</ol>
<li>Revisa el puntaje(s) de prueba oficial</li>
<ol>
<li>Si tienes un puntaje menor a 145, estudia el curr&iacute;culo.</li>
<li>Si tienes m&aacute;s de 145 puntos, pasaste esa prueba.</li>
</ol>
<li>Revisa los puntajes de la prueba preliminar si no ha superado las 4 pruebas oficiales</li>
<ol>
<li>Si tienes un puntaje por debajo de 160, estudia el curr&iacute;culo.</li>
<li>Si anotas m&aacute;s de 160, registra la siguiente prueba oficial.</li>
</ol>
<li>Pase las 4 pruebas oficiales de GED</li>
<li>Graduado</li>
<li>Solicita tu certificado de GED</li>
</ol>