<div class="table-responsive"><table class="table table-bordered">
<tbody>
<tr>
<td  colspan="5" rowspan="1">
<p ><span >LANGUAGE ARTS STUDY GUIDE</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p><span>Pretest Score</span></p>
</td>
<td  colspan="1" rowspan="1">
<p ><span>Start </span></p>
</td>
<td  colspan="1" rowspan="1">
<p ><span>Recommendations</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p ><span>80 to 130</span></p>
</td>
<td colspan="1" rowspan="1">
<p ><span>Module 2</span></p>
</td>
<td colspan="1" rowspan="5">
<ul>
<li><span>Module 1 is mandatory.</span></li>
<li><span>Complete the remaining modules in the order presented in the curriculum. </span></li>
<li><span>Complete the quizzes at the end of each module to assess your progress.</span></li>
<li><span>Bookmark presentations and worksheets according to status of completion and proficiency.</span></li>
</ul>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p ><span>131 to 140</span></p>
</td>
<td colspan="1" rowspan="1">
<p ><span>Module 2</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p ><span>141 to 150</span></p>
</td>
<td colspan="1" rowspan="1">
<p ><span>Module 6</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p ><span>151 to 160</span></p>
</td>
<td colspan="1" rowspan="1">
<p ><span>Module 10</span></p>
</td>
</tr>
<tr>
<td colspan="3" rowspan="1">
<p ><span>161 to 200</span></p>
</td>
<td colspan="1" rowspan="1">
<p ><span>Module 14</span></p>
</td>
</tr>
</tbody>
</table>
<table class="table table-bordered">
<tbody>
<tr>
<td  colspan="4" rowspan="1">
<p><span >Approximate Preparation Time - Based on Educational Plan 3</span></p>
</td>
</tr>
<tr>
<td colspan="2" rowspan="1">
<p><span>Modules</span></p>
</td>
<td  colspan="1" rowspan="1">
<p><span>Weeks</span></p>
</td>
<td  colspan="1" rowspan="1">
<p><span>&nbsp;Hours Per Week</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>1</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Introduction to Language Arts Test</span></p>
</td>
<td colspan="1" rowspan="2">
<p><span>Week 1</span></p>
</td>
<td colspan="1" rowspan="2">
<p><span>3</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>2</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Sentence Structure</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>3</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Plural Nouns</span></p>
<p><span>Possessive Nouns</span></p>
<p><span>Contractions</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Week 2</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>3</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>4</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Pronouns</span></p>
</td>
<td colspan="1" rowspan="2">
<p><span>Week 3</span></p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="2">
<p><span>3</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>5</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Pronouns, Homonyms, Spelling</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>6</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Verbs</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Weeks 4 &amp; 5</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>6</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>7</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Participle and Tense</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>Weeks 6 &amp; 7</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>6</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>8</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Antecedents</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>9</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Verb and Antecedent Review</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>10</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Commas</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Week 8</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>3</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>11</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Parallel Construction</span></p>
</td>
<td colspan="1" rowspan="3">
<p><span>Week 9</span></p>
<p>&nbsp;</p>
</td>
<td colspan="1" rowspan="3">
<p><span>3</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>12</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Dangling and Misplaced Modifiers</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>13</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Capitalization</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>14</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Extended Response</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Weeks 10 &amp; 11</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>6</span></p>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">
<p><span>15</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Post Tests</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>Week 12</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>3</span></p>
</td>
</tr>
<tr>
<td colspan="2" rowspan="1">
<p><span>TOTAL LANGUAGE ARTS STUDY TIME</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>12 Weeks</span></p>
</td>
<td colspan="1" rowspan="1">
<p><span>36 Hours</span></p>
</td>
</tr>
</tbody>
</table></div>