<!-- access_forbidden.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Default font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />

  <title> GGV Interactive Invalid User Account</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
    <!-- Begin page content -->
    <div class="container-fluid">
        <div class="row center-block" style="padding-top: 50px">
            <div class="col-md-6 col-md-offset-3 text-center">
            <p>
            {% for i in messages %}
                <h2><span class="text-danger">{{ i }}</span> <br>is not associated with GGV</h2>
            {% endfor %}
            </p>
            <p class="lead">
                Sorry, you do not have required permissions to view this site. The current google account used in this browser does not have access to GGV. Please log out of all google accounts then login with the credentials that were given to you by your Program.

                <h2 class="text-center">Click the following button to logout of the current Google account<p></p> <p class="text-center"><a href="https://accounts.google.com/Logout?&continue=https://www.google.com" class="btn btn-warning btn-lg text-center">Google Logout</a></p>
                    <strong>Remember to navigate back to http://www.ggvinteractive.com and login with correct google account.</strong>
                </h2>
            </p>
            </div>
        </div>
    </div>
    <!-- End page content -->


</body>
</html>
