<!-- act_worksheet.html -->
{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

<h1>{{ object }}</h1>
<div class="container">
	<input id="worksheet" type="hidden" value="{{ object.id }}">
	<h3 id="feedback"> </h3>

	<form id="worksheet_form" method="post" role="form">{% csrf_token %}
	
	{% for i in user_worksheet %}
	
	<div class="question-prompt required">
		<label><span>{{ forloop.counter }}. </span>{{ i.question|safe }}</label>
		{% for j in i.options %}
		<div class="radio">

			{% if j.option.text == j.response.response %}
				{% if j.option.is_correct %}
					<span class="glyphicon glyphicon-ok" style="display: none; color:green"></span>
				{% else %}
					<span class="glyphicon glyphicon-remove" style="display: none; color:red"></span>
				{% endif %}
			{% elif j.option.is_correct %}
				<span class="glyphicon glyphicon-ok" style="display: none; color:green"></span>
			{% endif %}
			<label for="option{{ i.question.id }}-{{ j.id }}">{{ j.option }}</label>
  			
  			<input id="option{{ i.question.id }}-{{ j.option.id }}" 
  				name="q-{{ i.question.get_question_type }}_{{ i.question.id }}" 
  				type="{{ i.question.select_type }}" 
  				value="{{ j.option }}" {% if j.response.response %}checked{% endif %}>
  		
  		</div>
 		{% endfor %}

 	</div>
	
	{% endfor %}
	<div><input type="button" id="submit_sheet" value="Check"></div>
	</form>
</div>

{% endblock content %}     


{% block local_js %} <script src="{% static 'js/questions.js' %}"></script> {% endblock local_js %}

