<!-- act_worksheet.html -->
{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}
<h1>{{ object }}</h1>
<div class="container">
	<input id="worksheet" type="hidden" value={{ object.id }}>
	<h2 id="feedback">{{ feedback }}</h2>

	<form id="worksheet_form" method="post" role="form">{% csrf_token %}
		{% for i in questions %}
			<div><label><span>{{ forloop.counter }}. </span>{{ i.text|safe }}</label></div>			
			{% for j in i.get_options %}
			<div class="radio">
				<input id="option{{ i.id }}-{{ j.id }}" name="q_{{ i.id }}" type="{{ i.select_type }}" value="{{ j }}" required >
				<label for="option{{ i.id }}-{{ j.id }}">{{ j }} </label>
			</div>
			{% endfor %}			
		{% endfor %}		
		<div><input type="button" id="submit_sheet" value="Check"></div>
	</form>	
</div>

{% endblock content %}     


{% block local_js %} <script src="{% static 'js/questions.js' %}"></script> {% endblock local_js %}

