<!-- base.html -->
{% load staticfiles %}
{% load guardian_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />

  <!-- Default font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

  <!-- Fonts - Math -->
  <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>

  <!-- Fonts - Writing -->
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

  <!-- Fonts - Science -->
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

  <!-- Fonts - Social Studies -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  
  <title>{% block page_title %} GGV Interactive {% endblock page_title %}</title>

  <!-- Bootstrap --> 
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/ggv.css' %}">



  {% block local_head %} {% endblock local_head %}
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Header LEFT-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn-xs" data-toggle="collapse" data-target=".navbar-collapse" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="navbar-brand" href="{% url 'splash' %}">
                            <img class="logo" src="{% static 'img/logo_laptop_black.png' %}"/>
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}
                        {% if request.session.user_courses|length > 1 and request.resolver_match.url_name != 'ggvhome' %}
                          <li>
                              <a class="navbar-brand" href="{% url 'ggvhome' %}">
                                  <button class="btn btn-sm btn-default"><i class="fa fa-caret-left"></i> Courses </button>
                              </a>
                          </li>
                        {% endif %}
                        {% if course %}                         
                          {% if request.resolver_match.url_name != 'course' %}
                            <li>
                              <a class="navbar-brand" href="{% url 'course' course.slug %}">
                                <button class="btn btn-sm btn-success"><i class="fa fa-caret-left"></i> {{ course }} Curriculum Page </button> 
                              </a>
                            </li>
                          {% endif %}                       
                        {% endif %}
                    {% endif %}
                </ul>

            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    {% block page_crumb %} {% endblock page_crumb %}
                </ul>

            <!-- Header RIGHT-->
                <ul class="nav navbar-nav navbar-right">
                    {% block local_nav %} {{ settings }}{% endblock local_nav %}

                    {% if request.user.is_authenticated %}
                        {% if course %}
                        
                          {% if 'instructor' in roles or 'manage' in roles %}
                          <!-- course manage dropdown menu -->
                          <li class="dropdown">
                            
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i> My Course <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'manage_course' course.slug %}" class="static"><i class="fa fa-users"></i> Roster Details</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'course_attendance_current' course.slug %}"><i class="fa fa-list"></i> Attendance</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'edit_course' course.slug %}" class="static"><i class="fa fa-gear"></i> Worksheet Settings</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'email_course_users' course.slug %}" class="static"><i class="fa fa-envelope"></i> Send Message to Roster</a>
                                    </li>                                    
                                </ul>
                          </li> <!-- end course manage dropdown menu -->
                          {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <!-- email / help dropdown menu -->
                        <li class="dropdown">                 
                            {% if request.user.ggvuser.language_pref == 'spanish' %}
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="fa fa-question-circle text-warning"></i> Ayuda <i class="fa fa-caret-down"></i>
                              </a>
                            

                              <ul class="dropdown-menu scrollable-menu">
                                  {% if course and 'access' in roles %}
                                    <li>
                                        <a class="static nav-text" href="{% url 'email_instructor' course.slug %}?q={{request.path}}">
                                        <i class="fa fa-envelope text-warning"></i> Envíe por correo electrónico su instructor
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                  {% endif %}
                                  <li>
                                      <a class="static nav-text" href="{% url 'email_staff' %}?q={{request.path}}">
                                      <i class="fa fa-envelope text-danger"></i> Envíe por correo electrónico GGV Personal
                                      </a>
                                  </li>

                                  {% if 'instructor' in roles or 'manage' in roles %}
                                  <li>
                                      <a class="static nav-text" target="_blank" href="/media/pdf/ggv-academic-plan.pdf">
                                      <i class="fa fa-book"></i> Plan Académico
                                      </a>
                                  </li>
                                  {% endif %}
                                  {% if 'manage' in roles %}
                                  <li>
                                      <a class="static nav-text" href="#">
                                      <i class="fa fa-book"></i> Manager Help
                                      </a>
                                  </li>

                                  {% endif %}
                              </ul>
                            {% else %}
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="fa fa-question-circle text-warning"></i> Help <i class="fa fa-caret-down"></i>
                              </a>
                              <ul class="dropdown-menu scrollable-menu">
                                  {% if course and 'access' in roles %}
                                    <li>
                                        <a class="static nav-text" href="{% url 'email_instructor' course.slug %}?q={{request.path}}">
                                        <i class="fa fa-envelope text-warning"></i> Email Instructor
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                  {% endif %}
                                  <li>
                                      <a class="static nav-text" href="{% url 'email_staff' %}?q={{request.path}}">
                                      <i class="fa fa-envelope text-danger"></i> Email GGV Technical Staff
                                      </a>
                                  </li>

                                  {% if 'instructor' in roles or 'manage' in roles %}
                                  <li>
                                      <a class="static nav-text" target="_blank" href="/media/pdf/ggv-academic-plan.pdf">
                                      <i class="fa fa-book"></i> Academic Plan
                                      </a>
                                  </li>
                                  {% endif %}
                                  {% if 'manage' in roles %}
                                  <li>
                                      <a class="static nav-text" href="#">
                                      <i class="fa fa-book"></i> Manager Help
                                      </a>
                                  </li>

                                  {% endif %}
                              </ul>
                            {% endif %}                            
                        </li> <!-- end email / help dropdown menu -->                        
                    {% endif %}

                    <!-- login/logout / settings dropdown menu -->
                    <li class="dropdown">
                        {% if request.user.is_authenticated %}
                          {% if request.user.ggvuser.language_pref == 'spanish' %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="{{role_icon}} text-primary"></i>
                                {{request.user.email}} <i class="fa fa-caret-down"></i>
                            </a>

                            <ul class="dropdown-menu section_drop scrollable-menu">

                                {% if course %}
                                    <li class="disabled"><a href="#"><i class="{{role_icon}} text-primary"></i> Posición Actual: {{ role }}</a></li> 
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a class="" href="{% url 'edit_user' course.slug request.user.id %}">
                                            <i class="fa fa-gear"></i> Preferencias
                                        </a>
                                    </li>

                                    {% if 'manage' in roles %}
                                    <li>
                                        <a class="" href="{% url 'manage_org' course.ggv_organization.id %}">
                                            <i class="fa fa-gears"></i> Manage <small>{{ course.ggv_organization }}</small>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a class="static nav-text" href="{% url 'course_grader_log' %}">
                                            <i class="fa fa-check-circle"></i> Grading Log
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}

                                {% if request.user.is_staff or request.user.pretest_user_account.all %}
                                    <li>
                                        <a class="" href="/pretest/accounts/">
                                            <i class="fa fa-cogs"></i> Pretest Manager
                                        </a>
                                    </li>                              
                                {% endif %}
                                {% if pretest_account %}
                                    <li>
                                        <a class="" href="/pretest/staff-report/{{pretest_account.pk}}/">
                                            <i class="fa fa-cogs"></i> Pretest Scores
                                        </a>
                                    </li>
                                {% endif %}
                                {% if request.user.is_staff %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a class="" href="/ggvadmin/" target="_blank">
                                            <i class="fa fa-lock"></i> Staff Admin
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="{% url 'email_system_users' %}">
                                            <i class="fa fa-envelope"></i> Send System Message
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="{% url 'help_page_list' %}">
                                            <i class="fa fa-list"></i> Help Pages
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    {% if request.user.ggvuser.clean_logout %}
                                        <a href="{% url 'logout_clean'  %}"> <i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                                    {% else %}
                                        <a href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                                    {% endif %}
                                </li>
                            </ul>
                          {% else %}
                            <a href="#" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="true">
                                <i class="{{role_icon}} text-primary"></i>
                                {{request.user.email}} <i class="fa fa-caret-down"></i>
                            </a>

                            <ul class="dropdown-menu section_drop scrollable-menu">

                                {% if course %}
                                    <li class="disabled"><a href="#"><i class="{{role_icon}} text-primary"></i> Current role: {{ role }}</a></li> 
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a class="" href="{% url 'edit_user' course.slug request.user.id %}">
                                            <i class="fa fa-gear"></i> Preferences
                                        </a>
                                    </li>

                                    {% if 'manage' in roles %}
                                    <li>
                                        <a class="" href="{% url 'manage_org' course.ggv_organization.id %}">
                                            <i class="fa fa-gears"></i> Manage <small>{{ course.ggv_organization }}</small>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a class="static nav-text" href="{% url 'course_grader_log' %}">
                                            <i class="fa fa-check-circle"></i> Grading Log
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}

                                {% if request.user.is_staff or request.user.pretest_user_account.all %}
                                    <li>
                                        <a class="" href="/pretest/accounts/">
                                            <i class="fa fa-cogs"></i> Pretest Manager
                                        </a>
                                    </li>                              
                                {% endif %}
                                {% if pretest_account %}
                                    <li>
                                        <a class="" href="/pretest/staff-report/{{pretest_account.pk}}/">
                                            <i class="fa fa-cogs"></i> Pretest Scores
                                        </a>
                                    </li>
                                {% endif %}
                                {% if request.user.is_staff %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a class="" href="/ggvadmin/" target="_blank">
                                            <i class="fa fa-lock"></i> Staff Admin
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="{% url 'email_system_users' %}">
                                            <i class="fa fa-envelope"></i> Send System Message
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="{% url 'help_page_list' %}">
                                            <i class="fa fa-list"></i> Help Pages
                                        </a>
                                    </li>                                    
                                {% endif %}

                                <li>
                                    {% if request.user.ggvuser.clean_logout %}
                                        <a href="{% url 'logout_clean'  %}"> <i class="fa fa-sign-out"></i> Logout</a>
                                    {% else %}
                                        <a href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i> Logout</a>
                                    {% endif %}
                                </li>
                            </ul>
                          {% endif %}
                        {% else %}
                            <a href="/login/google-oauth2/">Signin</a>
                        {% endif %}
                    </li>
                    <!-- end login/logout / settings dropdown menu -->
                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.header container-fluid -->
    </div><!--/.navbar -->


    <!-- Begin page content -->
    <div class="container-fluid">


      <div class="row"> <!-- previous container django messages -->
        {% if messages %}
          {% for message in messages %}
            <div class="django-msg {% if message.tags %}bg-{{ message.tags }} {% endif %}alert alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% if 'safe' in message.tags %}
                  <p>{{ message|safe }}</p>
                {% else %}
                 <p>{{ message }}</p>
                {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="row">{% block page_header %} {% endblock page_header %}</div>

      <div class="row">{% block content %} {% endblock content %}</div>
    </div>

    <!-- End page content -->


    <!-- Footer -->
<!--     <div class="navbar navbar-default navbar-fixed-bottom" style="border: none">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="text-muted" style="text-align: center; "><small>gedgonevirtual.com</small></p>
        </div>
      </div>
    </div> -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script 
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" 
  crossorigin="anonymous"></script>
  

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Django session security -->
{% include 'session_security/all.html' %}

<!-- Math Fonts MathJax -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

<!-- Local tinymce lib -->
<script src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>

<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
})
</script>



{% block local_js %}{% endblock local_js %}
{% if course.chat_room_name %}
  <!-- Start of Rocket.Chat Livechat Script -->

<script type="text/javascript">
(function(w, d, s, u) {
  w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
  var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
  j.async = true; j.src = 'https://ggvtalk.herokuapp.com/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';
  h.parentNode.insertBefore(j, h);
})(window, document, 'script', 'https://ggvtalk.herokuapp.com/livechat');

<!-- Start of Rocket.Chat Livechat Script -->
RocketChat(function() {
    this.setCustomField('ggv-user', '{{ request.user.first_name }}');
    this.setDepartment('{{ course.chat_room_name }}'); // Admins Only'
    console.log(this.getInitial());
});
</script>
<!-- End of Rocket.Chat Livechat Script -->
{% endif %}




</body>



</html>
