<!-- base.html -->
{% load staticfiles %}
{% load guardian_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />

  <!-- Default font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

  <!-- Fonts - Math -->
  <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>

  <!-- Fonts - Writing -->
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

  <!-- Fonts - Science -->
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

  <!-- Fonts - Social Studies -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  
  <title>{% block page_title %} GGV Interactive {% endblock page_title %}</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

  {% block local_head %} {% endblock local_head %}
</head>

<body>



    <!-- Begin page content -->
    <div class="container">
      <div class="row">
        
            {% if course %}
              <div  style="float: left">
                
                <a href="{% url 'lesson' course.slug object.lesson.id %}#{{ section|title|urlencode }}" class="btn btn-xs btn-success">
                  <i class="fa fa-caret-left"></i> {{ section|title }}
                </a>
              </div>
              
              <div style="float: right">
                {% if next_act.activity_type == 'worksheet' %} 
                  <a href="{% url 'worksheet_launch' course.slug next_act.id %}" class="btn btn-xs btn-success">
                    {{ next_act }} <i class="fa fa-caret-right"></i> 
                  </a>
                {% elif next_act.activity_type == 'external_media' %}
                  <a href="{% url 'external_media' course.slug next_act.id %}" class="btn btn-xs btn-success">
                    {{ next_act }} <i class="fa fa-caret-right"></i> 
                  </a>
                {% endif %}
              </div>
            {% endif %}
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3"> 
            {% if messages %}
              {% for message in messages %}
                <div class="{% if message.tags %}bg-{{ message.tags }} {% endif %}alert alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <p>{{ message }}</p>
                </div>
              {% endfor %}
            {% endif %}
        </div>
      </div>
      <div class="row">{% block content %} {% endblock content %}</div>
    </div>

    <!-- End page content -->

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script 
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" 
  crossorigin="anonymous"></script>
  

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 <!-- Django session security -->
  {% include 'session_security/all.html' %}

  <!-- Math Fonts MathJax -->
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <script type="text/javascript">$('[data-toggle="popover"]').popover()</script>


{% block local_js %}{% endblock local_js %}
</body>
</html>
