<!-- base_slide_stack.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Default font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

  <!-- Fonts - Math -->
  <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>

  <!-- Fonts - Writing -->
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

  <!-- Fonts - Science -->
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

  <!-- Fonts - Social Studies -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />

  <title>{% block page_title %} GGV Interactive {% endblock page_title %}</title>



  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- <link rel="stylesheet" href="{% static 'css/ggv.css' %}"> -->

  {% block local_head %} {% endblock local_head %}
</head>

<body>
    {% block slide_buttons %} {% endblock slide_buttons %}
    {% block slideframe %} {% endblock slideframe %}
    <!-- End page content -->
{% block local_js %}{% endblock local_js %}
</body>
</html>
