<!-- course_manage_user.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}
    <li><a href="{% url 'course' object.slug %}">{{ object }} <i class="fa fa-caret-right"></i></a></li>
    {% if is_instructor or is_manager %}
        <li><a href="{% url 'manage_course' course.slug %}">Roster Manager <i class="fa fa-caret-right"></i></a></li>
        <li><a href="" class="btn btn-md"><strong>User Activity Detail</strong></a></li>
    {% endif %}
{% endblock page_crumb %}

{% block local_nav %}
{% endblock local_nav %}

{% block page_header %}
<div class="col-md-12 center-block">
    {% if user.is_manager %}<a class="btn btn-primary btn-xs" href="{% url 'create_user' course.slug %}">Add User</a>{% endif %}
</div>
{% endblock page_header %}

{% block content %}
    <div class="">
        <div class="lead">{{ student_user.first_name }} {{ student_user.last_name }} ({{ student_user }}) </div>
        <!-- <div class="panel-body"></div> -->
        <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Assignment</th>
            <th>Content Area</th>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
        {% for i, j in activity_log.items %}
        <tr>
            <td>
                <h2>{{ i }}
                    <small>{% with f=j|first l=j|last %}{{ l.activity.timestamp|timesince:f.activity.timestamp }}{% endwith %}</small>
                </h2>

            </td>
        </tr>
            {% for adict in j %}
            <tr class="hoverpad">
                <th scope="row">{{ adict.activity.timestamp|time }}</th>
                <td>{{ adict.activity.action }}</td>
                <td>
                    {% if adict.activity.action == 'completed-worksheet' %}
                        <a href="{{ adict.report_url }}"> {{adict.worksheet }}</a>
                        {% comment %} {{ i.activity.message|safe }} {% endcomment %}
                    {% elif adict.activity.action == 'access-presentation'  or adict.activity.action == 'access-worksheet' %}
                        {{ adict.activity.message|safe }}
                    {% else %}
                        {{ adict.activity.message }}
                    {% endif %}
                </td>

                <td>{{ adict.activity.message_detail }}</td>
            </tr>
            {% endfor %}
        {% empty %}
            <div class="panel-body">No students are assigned to this course.</div>
        {% endfor %}

        </tbody>
        </table>
    </div>

{% endblock content %}
