<!-- course_grader_delete.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_crumb %}{% endblock page_crumb %}

{% block page_header %}

<div class="col-md-12 text-center"><h2 class="lead"><i class="fa fa-gear"></i> Delete Course Grader for {{ object.course }}</h2></div>

{% endblock page_header %}

{% block content %}

<div class="col-md-12">
    <p>You are removing {{ object.grader }} as a grader for {{ object.course }}.</p>  
    <form method="post" action=".">{% csrf_token %}
        <button class="btn btn-sm btn-success" type="submit">Remove grader?</button>
    </form>
</div>

{% endblock content %}
