<!-- course_user_progress.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}

{% endblock page_crumb %}

{% block local_nav %}
    <li>
        <a class="static nav-text" href="{% url 'create_user' course.slug %}" style="padding-right: 10px">
            <i class="fa fa-user-plus text-primary"></i>
        </a>
    </li>
{% endblock local_nav %}

{% block page_header %}
<div class="col-xs-12 small">
    {% if is_instructor or is_manager %}
        <i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i> <a href="{% url 'manage_course' object.slug %}"> Roster Detail</a>
    {% endif %}
</div>

<div class="row" style="padding: 10px"><h1></h1></div>

<div class="col-md-12 text-center">
    <p class="lead">
        {% if request.user.ggvuser.language_pref == 'spanish' %}Informe de Progreso del Estudiante{% else %}Student Progress Report{% endif %}
    </p>
</div>
{% endblock page_header %}

{% block content %}
<div class="col-md-12 lead">
    {{ student_user.first_name }} {{ student_user.last_name }} ({{ student_user }})
    {% if is_manager %}
        <a href="{% url 'view_user' course.slug student_user.id %}" class="btn btn-md">[ <i class="fa fa-eye"></i> view acccount ]</a> 
        <a href="{% url 'edit_user_account' course.slug student_user.id %}" class="btn btn-md">[ <i class="fa fa-edit"></i> edit account ]</a>
    {% endif %}
    {% if is_instructor or is_manager %}
        <a class="btn btn-md" href="./?export=xlsx"> [ <i class="fa fa-download"></i> Download this report as an Excel file ]</a>
        <a class="btn btn-md" href="{% url 'user_progress_custom' object.slug student_user.pk %}"> [ <i class="fa fa-download"></i> Custom Report ]</a>
    {% endif %}    
</div>

<div class="col-md-12 text-left filters-button-group">

    {% if request.user.ggvuser.language_pref == 'spanish' %}
        <h5>Filtrar por hojas de trabajo completadas</h5>
        <p>
            <a class="" href="./"> [ Mostrar todos actividades ] </a>
            <a class="" href="./?filter=completed"> [ Mostrar solo hojas de trabajo completada ] </a>
        </p>
        <h5>Filtrar por tema</h5>
        <p>
            <span style="padding-right: 5px"><a href="#" class="" data-filter=".event">[ Mostrar todos ]</a> </span>
            {% for i, j in subject_time.items %}
                <span style="padding-right: 5px"><a href="#" class="" data-filter=".{{ i|slugify }}">[ {{i}} ] </a> ({{j.0}}h {{j.1}}mins)</span>
            {% endfor %}
        </p>

        <h5>Filtrar por los marcadores</h5>
        <p>
            <span style="padding-right: 5px"><a href="#" class="" data-filter=".event">[ Mostrar todos ]</a> </span>
            {% for i, j in bookmark_type_opts.items %}
                <span style="padding-right: 5px"><a href="#" class="" data-filter=".{{ i }}">[ {{j}} ] </a></span>
            {% endfor %}
        </p>

    {% else %}
        <h5>Filter by completed worksheets</h5>
        <p>
            <a class="" href="./"> [ show all activity ] </a>
            <a class="" href="./?filter=completed"> [ show only completed worksheets ] </a>
        </p>
        <h5>Filter by subject</h5>
        <p>
            <span style="padding-right: 5px"><a href="#" class="" data-filter=".event">[ Show all ]</a> </span>
            {% for i, j in subject_time.items %}
                <span style="padding-right: 5px"><a href="#" class="" data-filter=".{{ i|slugify }}">[ {{i}} ] </a> ({{j.0}}h {{j.1}}mins)</span>
            {% endfor %}
        </p>

        <h5>Filter by bookmark</h5>
        <p>
            <span style="padding-right: 5px"><a href="#" class="" data-filter=".event">[ Show all ]</a> </span>
            {% for i, j in bookmark_type_opts.items %}
                <span style="padding-right: 5px"><a href="#" class="" data-filter=".{{ i }}">[ {{j}} ] </a></span>
            {% endfor %}
        </p>
    {% endif %}
</div>

<div id="event_container" class="col-md-12" style="padding-top: 20px">

    {% for k, v in activity_log.items %}
        {% if v.2 %}
            {% if request.user.ggvuser.language_pref == 'spanish' %}
                <div class="row" style="padding-top: 20px; border-bottom: 1px solid gray">
                    <h4>{{ v.0|date }} <span class="pull-right" style="font-size: 0.7em"><sup>(horas:minutos)</sup></span>  <span class="pull-right">{{ v.1 }} </span></h4>
                </div>
                <div class="row">
                    <div class="col-xs-2">Fecha y Hora <sup><small>MST</small></sup></div>
                    <div class="col-xs-1">Tema</div>
                    <div class="col-xs-1">Actividad</div>
                    <div class="col-xs-3">Modulo</div>
                    <div class="col-xs-4">Contenido</div>
                    <div class="col-xs-1">Puntuación Actual</div>
                </div>
            {% else %}
                <div class="row" style="padding-top: 20px; border-bottom: 1px solid gray">
                    <h4>{{ v.0|date }} <span class="pull-right" style="font-size: 0.7em"><sup>(hours:mins)</sup></span>  <span class="pull-right">{{ v.1 }} </span></h4>
                </div>
                <div class="row">
                    <div class="col-xs-2">Date/Time <sup><small>MST</small></sup></div>
                    <div class="col-xs-1">Subject</div>
                    <div class="col-xs-1">Activity</div>
                    <div class="col-xs-3">Module</div>
                    <div class="col-xs-4">Content</div>
                    <div class="col-xs-1">Current Score</div>
                </div>
            {% endif %}

            {% for j in v.2 %}
                {% if filter == 'completed' and j.activity.action == 'completed-worksheet' %}        
                    <div class="row hoverpad text-left event {{ j.event_target.lesson|slugify }} {{j.event_target_bk}}" style="padding-bottom: 5px; padding-bottom: 5px">
                        <div class="col-xs-2">
                            {% if j.event_target_bk %}<sup><small>{{j.event_target_bk}}</small></sup> <i title="" class="bookmarker bk-{{j.event_target_bk}} fa fa-circle"></i>{% endif %} 
                            <small>{{ v.0|date }}</small> <strong>{{ j.event_time|time }}</strong>
                        </div>
                        <div class="col-xs-1 small">
                            {% if  j.event_target.lesson %}
                             <a href="{% url 'lesson' j.course.slug j.event_target.lesson.id %}#{{ j.event_target.section|title }}">{{ j.event_target.lesson }}</a>
                            {% else %}
                                {{ j.activity.action }}
                            {% endif %}
                        </div>

                        
                        <div class="col-xs-1 small">{% if request.user.ggvuser.language_pref == 'spanish' %}terminado{% else %}completed{% endif %}</div>
                        
                        <div class="col-xs-3">{{j.event_target.section}}</div>

                        <div class="col-xs-4">
                                <i class="fa fa-pencil-square-o fa-1x icon-worksheet"></i>
                                 {{j.event_target }} {% if j.activity.action == 'completed-worksheet' %}<a href="{{ j.report_url }}">{% if request.user.ggvuser.language_pref == 'spanish' %}(vista del informe){% else %}(view report){% endif %} {% endif %}</a>
                        </div>

                        <div class="col-xs-1">
                            {% if j.score >= 0 %} <strong>{{ j.score|floatformat:"0" }}%</strong> 
                            {% else %} <strong><span class="text-danger">cleared</span></strong>{% endif %}
                        </div>
                    </div>

                {% elif not filter %}

                    <div class="row hoverpad text-left event {{ j.event_target.lesson|slugify }} {{j.event_target_bk}}">
                        <div class="col-xs-2">
                            {% if j.event_target_bk %}<sup><small>{{j.event_target_bk}}</small></sup> <i title="" class="bookmarker bk-{{j.event_target_bk}} fa fa-circle"></i>{% endif %}                            
                            <small>{{ v.0|date }}</small> <strong>{{ j.event_time|time }}</strong>
                        </div>
                        <div class="col-xs-1 small">
                            {% if  j.event_target.lesson %}
                             <a href="{% url 'lesson' j.course.slug j.event_target.lesson.id %}#{{ j.event_target.section|title }}">{{ j.event_target.lesson }}</a>
                            {% else %}
                                {{ j.activity.action }}
                            {% endif %}
                        </div>

                        {% if j.activity.action == 'completed-worksheet' %}
                            <div class="col-xs-1 small">{% if request.user.ggvuser.language_pref == 'spanish' %}terminado{% else %}completed{% endif %}</div>
                        {% elif j.activity.action == 'access-worksheet' %}
                            <div class="col-xs-1 small">{% if request.user.ggvuser.language_pref == 'spanish' %}visto{% else %}viewed{% endif %}</div>
                        {% elif j.activity.action == 'access-presentation' %}
                            <div class="col-xs-1 small">{% if request.user.ggvuser.language_pref == 'spanish' %}visto{% else %}viewed{% endif %}</div>
                        {% else %}
                            <div class="col-xs-1 small">&nbsp;</div>
                        {% endif %}
                        <div class="col-xs-3">{{j.event_target.section}}</div>
                        <div class="col-xs-4">
                            {% if j.activity.action == 'completed-worksheet' or j.activity.action == 'access-worksheet'%}
                                <i class="fa fa-pencil-square-o fa-1x icon-worksheet"></i>
                                {{j.event_target }}
                                {% if j.event_target.id %}
                                <a href="{% url 'worksheet_user_report' j.course.slug j.event_target.id student_user.id %}">{% if request.user.ggvuser.language_pref == 'spanish' %}(vista del informe){% else %}(view report){% endif %}</a>
                                {% endif %}
                            {% elif j.activity.action == 'access-presentation' %}
                                <i class="fa fa-desktop fa-1x icon-slidestack"></i>
                                {{ j.activity.message|safe }}
                            {% endif %}
                        </div>

                        <div class="col-xs-1">
                            {% if j.activity.action == 'completed-worksheet' %}
                                {% if j.score >= 0%}
                                <strong>{{ j.score|floatformat:"0" }}%</strong>
                                {% else %}
                                <strong><span class="text-danger">cleared</span></strong>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>                    
                {% endif %}
            {% empty %}
                <div class="col-xs-12"></div>
            {% endfor %}
        {% endif %}
    {% empty %}
        <div class="panel-body">{{ student_user.first_name }} does not appear to have any activity.</div>
    {% endfor %}
</div>

{% endblock content %}

{% block local_js %}

<script type="text/javascript">
    jQuery(function($) { 
        $(document).ready(function() {
            $('.filters-button-group').on( 'click', 'a', function() {
                var filterValue = $(this).attr('data-filter');
                $(".event").hide();
                $(filterValue).show();
            });            
        });
    });
</script>
{% endblock local_js %}
