<!-- course_attendance_current.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}
    <li><a href="{% url 'course' object.slug %}"><button class="btn btn-xs"><i class="fa fa-home"></i> {{ object }}</button></a></li>
    <li><a href="{% url 'manage_course' object.slug %}"><button class="btn btn-xs">Roster Detail</button></a></li>
    <li><a href="#"><button class="btn btn-xs btn-success">Attendance</button></a></li>
{% endblock page_crumb %}

{% block local_nav %}
    {% if is_manager %}
    <li>
        <a class="static nav-text" href="{% url 'create_user' course.slug %}">
            <i class="fa fa-user-plus text-primary"></i>
        </a>
    </li>
    {% endif %}
{% endblock local_nav %}

{% block page_header %}

<div class="col-md-12 center-block">

</div>

{% endblock page_header %}

{% block content %}

<div class="col-md-12">


<!-- Active students -->
    <div class="row"><div class="col-md-12"><h2>{{ attendance_sheet|length}} Active Students</h2></div></div>


    <div class="row"><div class="col-md-12">
        
        <table class="table table-bordered table-hover table-condensed">
            
            <th>{{ month_year }}</th>
            <tr>
                <th>id</th>
                <th>first</th>
                <th>last</th>
                
                {% for i in days %} <td>{% if i < 10 %}&nbsp;{% endif %} {{ i }}</td> {% endfor %}  
            </tr>
            {% for i in attendance_sheet %}
                <tr>
                    {% for k, v in i.items %}
                        <td class="siteid">{{ k.ggvuser.program_id }}</td>
                        <td class="firstname">
                            <a href="{% url 'course_attendance_user' object.slug k.id %}">{{ k.first_name }}</a>
                        </td>
                        <td class="lastname">
                            <a href="{% url 'course_attendance_user' object.slug k.id %}">{{ k.last_name }}</a>
                        </td>
                        {% for j in v %} {% if j %}<td class="text-center"> <i class="fa fa-circle text-success"></i></td>{% else %}<td>&nbsp;</td>{% endif %}{% endfor %}
                            
                    {% endfor %}
                </tr>
            {% empty %}
                <th>No records. :(</th>
            {% endfor %}

        </table>

    </div></div>
</div>

<!-- END all listings -->

{% endblock content %}

{% block local_js %}
{% endblock local_js %}

