<!-- course_manage_user.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}
    <li><a href="{% url 'course' object.slug %}">{{ object }}</a></li>
    {% if is_instructor or is_manager %}
        <li><a href="{% url 'manage_course' course.slug %}"><i class="fa fa-caret-left"></i> <button class="btn btn-xs btn-primary">User Manager</button></a></li>
    {% endif %}
{% endblock page_crumb %}

{% block local_nav %}
{% endblock local_nav %}

{% block page_header %}
<div class="col-md-12 center-block">
    {% if user.is_manager %}<a class="btn btn-primary btn-xs" href="{% url 'create_user' course.slug %}">Add User</a>{% endif %}
</div>
{% endblock page_header %}

{% block content %}
    <div class="">
        <div class="lead">{{ student_user.first_name }} {{ student_user.last_name }} ({{ student_user }}) </div>
        <!-- <div class="panel-body"></div> -->
        <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Action</th>
            <th>Message</th>
            <th>More Detail</th>

          </tr>
        </thead>
        <tbody>
        {% for i in activity_log %}
        {% ifchanged i.day %}<tr><td><h2>{{ i.day }}</h2></td></tr> {% endifchanged %}
        <tr>
            <th scope="row">{{ i.timestamp }}</th>
            <td>{{ i.action }}</td>
            <td>
                {% if i.action != 'login' %}
                    {{ i.message|safe }}
                {% else %}
                    {{ i.message }}
                {% endif %}
            </td>
            <td>{{ i.message_detail }}</td>
        </tr>
        {% empty %}
            <div class="panel-body">No students are assigned to this course.</div>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock content %}
