<!-- course_settings.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_crumb %}
    <li><a href="{% url 'course' object.slug %}"><button class="btn btn-xs btn-default"><i class="fa fa-home"></i> {{ object }}</button></a></li>
    <li><a href="#"> <button class="btn btn-xs btn-success">Settings</button></a></li>
{% endblock page_crumb %}

{% block content %}
<div class="col-md-12">
    <h2 class="lead">Settings for {{ object }}. <span class="small">(applies to all students in the course)</span></h2>
    <form method="post" action=".">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-sm btn-success" type="submit">Save</button>
    </form>
</div>

{% endblock content %}
