<!-- course.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}
    <li><a>{{ object }}</a></li>
    {% if is_instructor or is_manager %}
        <li><a href="{% url 'manage_course' course.slug %}"><button class="btn btn-xs btn-primary">User Manager </button> <i class="fa fa-caret-right"></i></a></li>
    {% endif %}

{% endblock page_crumb %}

{% block local_nav %}

{% endblock local_nav %}

{% block page_header %}
<div class="col-md-12 center-block">
    <div class="btn-group btn-toggle">
    {% if eng_lessons and span_lessons %}
        {% if user.ggvuser.language_pref == 'spanish' %}
            <button class="btn btn-md btn-default">English</button>
            <button class="btn btn-md btn-success active">Español</button>
        {% else %}
            <button class="btn btn-md btn-success active">English</button>
            <button class="btn btn-md btn-default">Español</button>
        {% endif %}
    {% endif %}
    </div>




      <h1></h1>
</div>
{% endblock page_header %}

{% block content %}
    <div class="row icon eng {% if user.ggvuser.language_pref == 'spanish' %}collapse{% endif %}">
        {% for i in eng_lessons %}
        	<div class="col-md-3 icon-{{ i.lesson.subject }}">
        		<a class="static" href="{{ i.get_absolute_url }}">
        			<i class="fa fa-{{ i.lesson.icon_class }} fa-5x"></i>
            <p class="icon-title">{{ i.lesson.title }}</p>
        		</a>
        	</div>
        {% endfor %}
    </div>

    <div class="row icon span {% if user.ggvuser.language_pref != 'spanish' %}collapse{% endif %}">
        {% for i in span_lessons %}
        <div class="col-md-3 icon-{{ i.lesson.subject }}">
          <a class="static" href="{{ i.get_absolute_url }}">
            <i class="fa fa-{{ i.lesson.icon_class }} fa-5x"></i>
            <p class="icon-title">{{ i.lesson.title }}</p>
          </a>
        </div>
        {% endfor %}
    </div>

{% if is_instructor or is_manager %}
    {% comment %}
    <div class="row">
        <h4>Notifications:</h4>
        <div class="col-md-12 well">

            {% for i in notifications %}
                <div></div>
            {% endfor %}


        </div>
    </div>
    {% endcomment %}

    <div class="row">
        <h4>Roster: ({{ students|length}} active students) </h4>
        <div class="col-md-12">
            {% for i in students %}
            <div class="">
                <div class="">
                    <p class="">
                        {% comment %}
                        <a href="{% url 'manage_user' course.slug i.id %}" class="static"><button class="btn btn-xs">Progress Report</button></a>
                        {% endcomment %}
                        <a href="{% url 'manage_user' course.slug i.id %}" class="static"><button class="btn btn-xs">Activity Log</button></a>
                        {{ i.first_name }} {{ i.last_name }} ({{ i.username }})
                    </p>
                </div>
                <div id="{{ i.id }}-data" class="panel-collapse collapse">
                  <div class=""></div>
                </div>
            </div>
            {% empty %}
                <p>No students are assigned this lesson.</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

    <div class="row">
        <h4>Instructor{{ instructors|length|pluralize }}: </h4>
        <div class="col-md-12">
        {% for i in instructors %}
            <span><em>{{ i.first_name }} {{ i.last_name }}{% if i == request.user %}<small> (this is you) </small> {% endif %}, </em></span>
        {% empty %}
            <p>No instructors are assigned to this lesson.</p>
        {% endfor %}
        </div>
    </div>

{% endblock content %}



{% block local_js %}
    <script>
      $('.btn-toggle').click(function() {
          $(this).find('.btn').toggleClass('active');
          $(this).find('.btn').toggleClass('btn-success');
          $(this).find('.btn').toggleClass('btn-default');
          $('.eng').toggleClass('collapse')
          $('.span').toggleClass('collapse')
      });
    </script>

{% endblock local_js %}

