<!-- course_manage.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}{% endblock page_crumb %}

{% block local_nav %}
    {% if is_manager %}
    <li>
        <a class="static nav-text" href="{% url 'create_user' course.slug %}">
            <i class="fa fa-user-plus text-primary"></i>
        </a>
    </li>
    {% endif %}
{% endblock local_nav %}

{% block page_header %}
<div class="col-md-12 text-center"><h2 class="lead"><i class="fa fa-users"></i> Roster Detail </h2></div>
{% endblock page_header %}

{% block content %}

<div class="col-md-12">

<!-- Instructors  -->
    <div class="row"><div class="col-md-12"><h2>{{ instructors|length}} Instructor{{ instructors|length|pluralize }}</h2></div></div>
    <div class="row">
        <div id="instructor_sorts" class="col-xs-12"> 
            <div class="col-xs-1"><button class="btn btn-block btn-sm" data-sort-by="siteid" data-order="asc"> <i class="fa fa-sort"></i> id</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="firstname" data-order="asc"> <i class="fa fa-sort"></i> first</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="lastname" data-order="asc"> <i class="fa fa-sort"></i> last</button></div>
            <div class="col-xs-3"><button class="btn btn-block btn-sm" data-sort-by="username" data-order="asc"> <i class="fa fa-sort"></i> username</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="login" data-order="asc"> <i class="fa fa-sort"></i> last login</button></div>
            <div class="col-xs-2">&nbsp; </div> 
        </div>
        <div id="container_instructors" class="col-xs-12">                
                {% for i in instructors %}
                <div class="item hoverpad col-xs-12" data-login="{{ i.0.last_login|date:'U' }}" data-recent="{{ i.1.recent_time|date:'U' }}">
                    <a href="{% url 'user_progress' course.slug i.0.id %}" class="static">
                        <div class="col-xs-1 siteid">{{ i.0.ggvuser.program_id }}</div>
                        <div class="col-xs-2 firstname">{{ i.0.first_name }}</div>
                        <div class="col-xs-2 lastname">{{ i.0.last_name }}</div>
                        <div class="col-xs-3 username">{{ i.0.username }}</div>
                        <div class="col-xs-2 login">{{ i.0.last_login|date:"Y - M d, g:i A" }}</div>
                        <div class="col-xs-2">&nbsp; </div>
                    </a>                   
                </div>

                {% empty %}
                    <div class="panel-body">No instructors are assigned to this course?</div>
                {% endfor %} 
        </div>        
    </div>

<!-- Active students -->
    <div class="row"><div class="col-md-12">
        <h2>
            {{ students|length}} Active Student Account{{ students|length|pluralize }}
            <span class="smaller">{% if is_manager or user.is_staff %}<a href="{% url 'report_full_course_activity' course.slug %}" class="small text-info"> download full report </a>{% endif %}</span>
        </h2>
    </div></div>

    <div class="row">
        <div  id="sorts"  class="col-xs-12">
            <div class="col-xs-1"><button class="btn btn-block btn-sm" data-sort-by="siteid" data-order="asc"> <i class="fa fa-sort"></i> id</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="firstname" data-order="asc"> <i class="fa fa-sort"></i> first</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="lastname" data-order="asc"> <i class="fa fa-sort"></i> last</button></div>
            <div class="col-xs-3"><button class="btn btn-block btn-sm" data-sort-by="username" data-order="asc"> <i class="fa fa-sort"></i> username</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="login" data-order="asc"> <i class="fa fa-sort"></i> last login</button></div>
            <div class="col-xs-2">  <button id="deactivate-btn" class="btn btn-block btn-sm btn-danger"><i class="fa fa-check-square-o"></i>{% if is_manager %} deactivate {% else %} request deactivation {% endif %}</button> </div>
        </div>  
        
        <form id="deactivate-form" method="post" action="{% if is_manager %} {% url 'deactivate_users' %}?q={{object.slug}} {% else %} {% url 'email_manager_deactivate' object.slug %}?q={{object.slug}} {% endif %}">{% csrf_token %}
            <div id="container_0" class="col-xs-12">                
                {% for i in students %}
                <div class="item hoverpad col-xs-12" data-login="{{ i.0.last_login|date:'U' }}" data-recent="{{ i.1.recent_time|date:'U' }}">
                    <a href="{% url 'user_progress' course.slug i.0.id %}" class="static">
                        <div class="col-xs-1 siteid">{{ i.0.ggvuser.program_id }}</div>
                        <div class="col-xs-2 firstname">{{ i.0.first_name }}</div>
                        <div class="col-xs-2 lastname">{{ i.0.last_name }}</div>
                        <div class="col-xs-3 username">{{ i.0.username }}</div>
                        <div class="col-xs-2 login">{{ i.0.last_login|date:"Y - M d, g:i A" }}</div>
                    </a>
                    <div class="col-xs-2">
                        {% if is_manager or is_instructor %}
                            {% if not i.0.is_superuser and not i.0.is_staff and not i.0 == user %} <input type="checkbox" name="deactivate_list" value="{{ i.0.id }}"> {% endif %}
                        {% endif %}
                    </div>                    
                </div>

                {% empty %}
                    <div class="panel-body">No students are assigned to this course.</div>
                {% endfor %}
            
            </div>
        </form>

    </div>
</div>

<div class="col-md-12"><h1></h1></div>

<!-- Deactivated students -->

<div class="col-md-12">
    <div class="row"><div class="col-md-12"><h2>{{ deactivated|length}} Deactivated  Student Account{{ deactivated|length|pluralize }}</h2></div></div>
    <div class="row">
        <div  id="deactivated_sorts"  class="col-xs-12">
            <div class="col-xs-1"><button class="btn btn-block btn-sm" data-sort-by="siteid" data-order="asc"> <i class="fa fa-sort"></i> id</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="firstname" data-order="asc"> <i class="fa fa-sort"></i> first</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="lastname" data-order="asc"> <i class="fa fa-sort"></i> last</button></div>
            <div class="col-xs-3"><button class="btn btn-block btn-sm" data-sort-by="username" data-order="asc"> <i class="fa fa-sort"></i> username</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="login" data-order="asc"> <i class="fa fa-sort"></i> last login</button></div>
            <div class="col-xs-2"><button id="activate-btn" class="btn btn-block btn-sm btn-success"><i class="fa fa-check-square-o"></i>{% if is_manager %} activate {% else %} request activation {% endif %}</button></div>
        </div>
        
        <form id="activate-form" method="post" action="{% if is_manager %} {% url 'activate_users' %}?q={{object.slug}} {% else %} {% url 'email_manager_activate' object.slug %}?q={{object.slug}} {% endif %}">{% csrf_token %}
            <div id="container_00" class="col-xs-12">
                
                
                {% for i in deactivated %}
                <div class="item hoverpad col-xs-12" data-login="{{ i.0.last_login|date:'U' }}">
                    <a href="{% url 'user_progress' course.slug i.0.id %}" class="static">
                    <div class="col-xs-1 siteid">{{ i.0.ggvuser.program_id }}</div>
                    <div class="col-xs-2 firstname">{{ i.0.first_name }}</div>
                    <div class="col-xs-2 lastname">{{ i.0.last_name }}</div>
                    <div class="col-xs-3 username">{{ i.0.username }}</div>
                    <div class="col-xs-2 login">{{ i.0.last_login|date:"Y - M d" }}</div>
                    </a>
                    <div class="col-xs-2"><input type="checkbox" name="activate_list" value="{{ i.0.id }}"></div>
                </div>
                {% empty %}
                    
                    <div class="panel-body">There are no deactivated accounts.</div>

                {% endfor %}
            </div>
        </form>

    </div>
</div>

<div class="col-md-12"><h1></h1></div>

<!-- Unaccessed accounts -->

<div class="col-md-12">
    <div class="row"><div class="col-md-12"><h2>{{ unvalidated|length}} Unaccessed Student Account{{ unvalidated|length|pluralize }}</h2></div></div>
    <div class="row">
        <div id="unvalidatedsorts" class="col-xs-12">
            <div class="col-xs-1">
                <button class="btn btn-block btn-sm" data-sort-by="siteid" data-order="asc"> <i class="fa fa-sort"></i> id</button>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-block btn-sm btn-primary" data-sort-by="firstname" data-order="asc"> <i class="fa fa-sort"></i> first</button>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-block btn-sm" data-sort-by="lastname" data-order="asc"> <i class="fa fa-sort"></i> last</button>
            </div>

            <div class="col-xs-3">
                <button class="btn btn-block btn-sm" data-sort-by="username" data-order="asc"> <i class="fa fa-sort"></i> username</button>
            </div>

            <div class="col-xs-2">
                <button class="btn btn-block btn-sm" data-sort-by="date_created" data-order="asc"> <i class="fa fa-sort"></i> date created</button>
            </div>

            <div class="col-xs-2">{% if is_manager %}<button id="remove-unaccessed-btn" class="btn btn-block btn-sm btn-danger"><i class="fa fa-check-square-o"></i> remove access</button>{% endif %}</div>

        </div>

        
        <form id="remove-unaccessed-form" method="post" action="{% url 'delete_unused_user' %}?q={{object.slug}}">{% csrf_token %}
            <div id="container_1" class="col-xs-12">
                {% for i in unvalidated %}


                <div class="item hoverpad col-xs-12" data-created="{{ i.last_login|date:'U' }}">
                    <div class="col-xs-1 site_id">{{ i.ggvuser.program_id }}<a href=""></a></div>
                    <div class="col-xs-2 firstname">{{ i.first_name }}</div>
                    <div class="col-xs-2 lastname">{{ i.last_name }}</div>
                    <div class="col-xs-3 username">{{ i.username }} </div>
                    <div class="col-xs-2 date_created">{{ i.last_login|date:"Y - M d" }}</div>
                    <div class="col-xs-2">{% if is_manager %}<input type="checkbox" name="unaccessed_list" value="{{ i.id }}">{% endif %}</div>
                </div>

                {% empty %}
                    <div class="panel-body">All students have validated their accounts.</div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

<!-- Managers -->
<div class="col-md-12">
    <h2>{{ managers|length }} Manager{{ managers|length|pluralize}}</h2>
    {% for i in managers %} 
        {{ i.first_name }} {{ i.last_name }} <span class="small">({{ i.email }})</span> {% if not forloop.last %}, {% endif %}
    {% empty %}
        <div class="panel-body">There are no managers assigned to this course.</div>
    {% endfor %}
</div>
<div class="col-xs-12"><h1>&nbsp;</h1></div>

<!-- END all listings -->

{% endblock content %}

{% block local_js %}
    <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>

    <script type="text/javascript">
        jQuery(function($) {
            
            var $container_instructors = $('#container_instructors').isotope({
                getSortData: {
                    login: '[data-login] parseInt',
                    recent_timestamp: '[data-recent] parseInt',
                    siteid: '.siteid',
                    firstname: '.firstname',
                    lastname: '.lastname',
                    username: '.username'
                },

            });

            var $container0 = $('#container_0').isotope({
                getSortData: {
                    login: '[data-login] parseInt',
                    recent_timestamp: '[data-recent] parseInt',
                    siteid: '.siteid',
                    firstname: '.firstname',
                    lastname: '.lastname',
                    username: '.username'
                },

            });

            var $container00 = $('#container_00').isotope({
                getSortData: {
                    login: '[data-login] parseInt',
                    siteid: '.siteid',
                    firstname: '.firstname',
                    lastname: '.lastname',
                    username: '.username'
                },

            });

            var $container1 = $('#container_1').isotope({
                getSortData: {
                    firstname: '.firstname',
                    lastname: '.lastname',
                    date_created: '[data-created] parseInt',
                    username: '.username'
                },

            });

            // sort items on button click
            $('#instructor_sorts .btn-block').on( 'click', function() {
                var sortByValue = $(this).attr('data-sort-by');
                var order = "";
                if ($(this).attr("data-order")==="asc") {
                    order = true;
                    $(this).attr("data-order", "");

                } else {
                    order = false;
                    $(this).attr("data-order", "asc");
                }
                $('#instructor_sorts .btn-primary').removeClass('btn-primary');
                $(this).addClass("btn-primary");

                $container_instructors.isotope({
                    sortBy: sortByValue,
                    sortAscending: order
                });
            });

            // sort items on button click
            $('#sorts .btn-block').on( 'click', function() {
                var sortByValue = $(this).attr('data-sort-by');
                var order = "";
                if ($(this).attr("data-order")==="asc") {
                    order = true;
                    $(this).attr("data-order", "");

                } else {
                    order = false;
                    $(this).attr("data-order", "asc");
                }
                $('#sorts .btn-primary').removeClass('btn-primary');
                $(this).addClass("btn-primary");

                $container0.isotope({
                    sortBy: sortByValue,
                    sortAscending: order
                });
            });

            // sort items on button click
            $('#deactivated_sorts .btn-block').on( 'click', function() {
                var sortByValue = $(this).attr('data-sort-by');
                var order = "";
                if ($(this).attr("data-order")==="asc") {
                    order = true;
                    $(this).attr("data-order", "");

                } else {
                    order = false;
                    $(this).attr("data-order", "asc");
                }
                $('#deactivated_sorts .btn-primary').removeClass('btn-primary');
                $(this).addClass("btn-primary");

                $container00.isotope({
                    sortBy: sortByValue,
                    sortAscending: order
                });
            });



            // sort items on button click
            $('#unvalidatedsorts .btn-block').on( 'click', function() {
                var sortByValue = $(this).attr('data-sort-by');
                var order = "";
                if ($(this).attr("data-order")==="asc") {
                    order = true;
                    $(this).attr("data-order", "");

                } else {
                    order = false;
                    $(this).attr("data-order", "asc");
                }
                $('#unvalidatedsorts .btn-primary').removeClass('btn-primary');
                $(this).addClass("btn-primary");

                $container1.isotope({
                    sortBy: sortByValue,
                    sortAscending: order
                });
            });

            $('#deactivate-btn').on('click', function () {
                if ($('#container_0 input:checked').length)
                    $('#deactivate-form').submit();
            });

            $('#activate-btn').on('click', function () {
                if ($('#container_00 input:checked').length)
                    $('#activate-form').submit();
            });

            $('#remove-unaccessed-btn').on('click', function () {
                if ($('#container_1 input:checked').length)
                    $('#remove-unaccessed-form').submit();
            });


            $(document).ready(function() {

            });
        });
    </script>



{% endblock local_js %}

