<!-- course_user_progress.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}
    <li><a href="{% url 'course' object.slug %}">{{ object }} Home <i class="fa fa-caret-right"></i></a></li>
    {% if is_instructor or is_manager %}
        <li><a href="" class="btn btn-md"><strong>Progress Report</strong> for {{ student_user.first_name }} </a></li>
    {% endif %}
{% endblock page_crumb %}

{% block local_nav %}
{% endblock local_nav %}

{% block page_header %}
<div class="col-md-12 center-block">
    {% if user.is_manager %}<a class="btn btn-primary btn-xs" href="{% url 'create_user' course.slug %}">Add User</a>{% endif %}
</div>
{% endblock page_header %}

{% block content %}
    <div class="lead">
        {{ student_user.first_name }} {{ student_user.last_name }} ({{ student_user }})
        <a href="{% url 'manage_user' course.slug student_user.id %}" class="static"><button class="btn btn-xs">more detail</button></a>
    </div>
    <div class="row">


          <div class="row">
            <div class="col-xs-1">Accessed</div>
            <div class="col-xs-1">Completed</div>
            <div class="col-xs-3">Subject</div>
            <div class="col-xs-5">Content</div>
            <div class="col-xs-1">Result</div>
          </div>

        {% for i, j in activity_log.items %}
            <div class="row">
                <h3>{{ i }} <sup><small>MST</small></h3>
            </div>

            {% for adict in j %}
            <div class="row hoverpad text-left">
                <div class="col-xs-1">{{ adict.access_time|time }}</div>
                <div class="col-xs-1">{{ adict.completed_time|time }}</div>
                <div class="col-xs-3">
                    <a href="{% url 'lesson' adict.course.slug adict.content.lesson.id %}#{{ adict.content.section|title }}">{{ adict.content.lesson }}</a>

                </div>

                <div class="col-xs-5">
                    {% if adict.activity.action == 'completed-worksheet' %}
                        <i class="fa fa-pencil-square-o fa-2x icon-worksheet"></i>
                        <a href="{{ adict.report_url }}"> {{adict.content }}</a>
                        {% comment %} {{ i.activity.message|safe }} {% endcomment %}
                    {% elif adict.activity.action == 'access-presentation' %}
                        <i class="fa fa-desktop fa-2x icon-slidestack"></i>
                        {{ adict.activity.message|safe }}
                    {% endif %}
                </div>


                <div class="col-xs-1">{% if adict.score %} <strong>{{ adict.score|floatformat:"0" }}%</strong> {% endif %}</div>

            </div>
            {% endfor %}
        {% empty %}
            <div class="panel-body">No students are assigned to this course.</div>
        {% endfor %}
    </div>

{% endblock content %}
