<!-- course_manage.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}
    <li><a href="{% url 'course' object.slug %}">{{ object }}</a></li>
    <li><a href="#">Manage</a></li>
{% endblock page_crumb %}

{% block local_nav %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
      <ul class="dropdown-menu">
        {% for i in courses %}<li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li> {% endfor %}
      </ul>
    </li>
{% endblock local_nav %}

{% block page_header %}

<div class="col-md-12 center-block">
    {% if is_manager %}<a class="btn btn-primary btn-xs" href="{% url 'create_user' course.slug %}">Add User</a>{% endif %}
</div>

{% endblock page_header %}

{% block content %}

<div class="col-md-12 panel panel-success">
    <div class="row panel-heading">{{ students|length}} Students</div>

    <div class="row">
        <div id="sorts" class="col-xs-12">
            <div class="col-xs-2"><button class="btn btn-sm btn-primary" data-sort-by="original-order">reset</button></div>
            <div class="col-xs-2">
                <button class="btn btn-block btn-sm btn-primary" data-sort-by="login" data-order="asc"> <i class="fa fa-sort"></i> last login</button>
            </div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="recent" data-order="asc"> <i class="fa fa-sort"></i> most recent activity</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="firstname" data-order="asc"> <i class="fa fa-sort"></i> firstname</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="lastname" data-order="asc"> <i class="fa fa-sort"></i> lastname</button></div>
            <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="username" data-order="asc"> <i class="fa fa-sort"></i> username</button></div>
            <div class="col=md-12"><hr></div>
        </div>
        <div id="container_0" class="col-xs-12">
            {% for i in students %}
            <div  class="item col-xs-12">
                <div class="col-xs-2"><a href="{% url 'manage_user' course.slug i.id %}">detail</a> </div>
                <div class="col-xs-2 login">{{ i.last_login }}</div>
                <div class="col-xs-2 recent">{{ i.activitylog.all.0.timestamp }}</div>
                <div class="col-xs-2 firstname">{{ i.first_name }}</div>
                <div class="col-xs-2 lastname">{{ i.last_name }}</div>
                <div class="col-xs-2 username">{{ i.username }}</div>
            </div>
            {% empty %}
                <div class="panel-body">No students are assigned to this course.</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">{{ deactivated|length}} Deactivated</div>
        <!-- <div class="panel-body"></div> -->
        <table class="table">
        <thead>
          <tr>
            <th>Last Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
        {% for i in deactivated %}
        <tr>
            <th scope="row">{{ i.last_login }}</th>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.username }}</td>
        </tr>
        {% empty %}
            <div class="panel-body">No students have been deactivated.</div>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-warning">
        <div class="panel-heading">{{ unvalidated|length}} Unvalidated</div>
        <div class="panel-body">These users have been granted access but have not logged in.</div>
        <table class="table">
        <thead>
          <tr>
            <th>Last Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
        {% for i in unvalidated %}
        <tr>
            <td>{{ i.last_login }}</td>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.username }}</td>
        </tr>
        {% empty %}
            <div class="panel-body">All members have validated their accounts.</div>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block local_js %}
    <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>

    <script src="{% static 'js/base.js'%}"></script>
{% endblock local_js %}

