<!-- course.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}
    <li><a>{{ object }}</a></li>
    <li><a href="#"></a></li>
{% endblock page_crumb %}

{% block local_nav %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
      <ul class="dropdown-menu">
        {% for i in courses %}<li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li> {% endfor %}
      </ul>
    </li>
{% endblock local_nav %}

{% block page_header %}
<div class="col-md-12 center-block">
      <div class="btn-group btn-toggle">
        {% if eng_lessons and span_lessons %}
          <button class="btn btn-xs btn-success active">English</button>
          <button class="btn btn-xs btn-default">Español</button>
        {% endif %}
      </div>
      {% if user.is_staff %}<a class="btn btn-primary btn-xs" href="{% url 'create_user' course.slug %}">Add User</a>{% endif %}
    <script>
      $('.btn-toggle').click(function() {
          $(this).find('.btn').toggleClass('active');
          $(this).find('.btn').toggleClass('btn-success');
          $(this).find('.btn').toggleClass('btn-default');
          $('.eng').toggleClass('collapse')
          $('.span').toggleClass('collapse')
      });
  </script>
      <h1></h1>
</div>
{% endblock page_header %}

{% block content %}
  <div class="row icon eng">
	{% for i in eng_lessons %}
		<div class="col-md-3 icon-{{ i.lesson.subject }}">
			<a class="static" href="{{ i.get_absolute_url }}">
				<i class="fa fa-{{ i.lesson.icon_class }} fa-5x"></i>
        <p class="icon-title">{{ i.lesson.title }}</p>
			</a>
		</div>
	{% endfor %}
  </div>

  <div class="row icon span {% if eng_lessons %}collapse{% endif %}">
  {% for i in span_lessons %}
    <div class="col-md-3 icon-{{ i.lesson.subject }}">
      <a class="static" href="{{ i.get_absolute_url }}">
        <i class="fa fa-{{ i.lesson.icon_class }} fa-5x"></i>
        <p class="icon-title">{{ i.lesson.title }}</p>
      </a>
    </div>
  {% endfor %}
  </div>



<h4>Instructors </h4>
<div class="panel-group" id="accordion">
{% for i in instructors %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ i.username }}-data">
                <p class="panel-title">{{ i.first_name }} {{ i.last_name }}</p>
            </a>
        </div>
        <div id="{{ i.username }}-data" class="panel-collapse collapse">
          <div class="panel-body"></div>
        </div>
    </div>
{% empty %}
    <p>No instructors are assigned to this lesson.</p>
{% endfor %}
</div>

<h4>{{ students|length}} Students </h4>
<div class="panel-group" id="accordion">
{% for i in students %}
<div class="panel panel-info">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{ i.username }}-data">
            <p class="panel-title">{{ i.first_name }} {{ i.last_name }} ({{ i.username }})</p>
        </a>
    </div>
    <div id="{{ i.username }}-data" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
</div>
{% empty %}
    <p>No students are assigned this lesson.</p>
{% endfor %}
</div>

{% endblock content %}
