<!-- course_attendance_current.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}{% endblock page_crumb %}

{% block local_nav %}
    {% if is_manager %}
    <li>
        <a class="static nav-text" href="{% url 'create_user' course.slug %}">
            <i class="fa fa-user-plus text-primary"></i>
        </a>
    </li>
    {% endif %}
{% endblock local_nav %}

{% block page_header %}
<div class="col-xs-12 small">
    {% if is_instructor or is_manager %}
    <i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i>
    <a href="{% url 'manage_course' object.slug %}">Roster Detail</a>
    {% endif %}
</div>

<div class="row" style="padding: 10px"><h1></h1></div>

<div class="col-md-12 text-center">
    <p class="lead"><i class="fa fa-list"></i> Course Attendance Report</p>

</div>

{% endblock page_header %}

{% block content %}

<div id="attendance_sheet" class="col-md-12" data-courseslug="{{ course.slug }}">

    <div class="row"><div class="col-md-12 text-center">
        <span><i class="fa fa-circle-thin"></i>=Absent </span>
        <span><i class="fa fa-circle attlabel-0"></i>=Online </span>
        <span><i class="fa fa-circle attlabel-1"></i>=Pretest </span>
        <span><i class="fa fa-circle attlabel-2"></i>=Official Test </span>
        <span><i class="fa fa-circle attlabel-3"></i>=Graduated </span>
        <span><i class="fa fa-circle attlabel-4"></i>=Dropped </span>
        <p class="small">Click student id to view/edit a student's full attendance record.</p>
    </div></div>
<!-- Active students -->
    <div class="row"><div class="col-md-12"><h2>{{ attendance_sheet|length}} Active Students</h2></div></div>


    <div class="row"><div class="col-xs-12">
        
        <h3>{{date_display|date:"F Y"}}</h3>

        <ul id="sorts" class="table-like-header">
            <li class="table-like-header__item">
                <div class="siteid"><button class="btn btn-block btn-sm" data-sort-value="siteid"><i class="fa fa-sort"></i> id</button></div>
                <div class="firstname"><button class="btn btn-block btn-sm btn-primary" data-sort-value="firstname"><i class="fa fa-sort"></i> first</button></div>
                <div class="lastname"><button class="btn btn-block btn-sm" data-sort-value="lastname"><i class="fa fa-sort"></i> last</button></div>
                {% for i in days %}
                    <div class="day"><small>{{ forloop.counter }}</small></div>
                {% endfor %}
            </li>
        </ul>

        <ul id="container" class="table-like">
            {% for i in attendance_sheet %}
            
            <li class="table-like__item hoverpad">
                {% for k, v in i.items %}
                    
                    <div class="siteid">
                        <a href="{% url 'course_attendance_user' course.slug k.id %}"><small>{{ k.ggvuser.program_id }}</small></a>
                    </div>
                    <div class="firstname">{{ k.first_name }}</div>
                    <div class="lastname" style="border-right: 1px solid #cccccc;">{{ k.last_name }}</div>
                    
                    {% for j in v %}
                        <div class="day" class="btn btn-xs text-center" role="button" title="{{j.get_code_display}}">
                            <i class="fa fa-circle attlabel-{{j.code}}" style="margin-left: 0px"></i>
                        </div>
                    {% endfor %}
                {% endfor %}
            </li>

            {% endfor %}
        </ul>

    </div></div>
</div>

<!-- END all listings -->

{% endblock content %}

{% block local_js %}
    <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>

    <script type="text/javascript">
        jQuery(function($) {


            // $('.tracker_form_container').addClass('hide');

            var $container00 = $('#container').isotope({
                getSortData: {
                    siteid: '.siteid',
                    firstname: '.firstname',
                    lastname: '.lastname',
                },

            });

            // sort items on button click
            $('#sorts .btn-block').on( 'click', function() {
                var sortByValue = $(this).attr('data-sort-value');
                var order = "";
                if ($(this).attr("data-order")==="asc") {
                    order = true;
                    $(this).attr("data-order", "");

                } else {
                    order = false;
                    $(this).attr("data-order", "asc");
                }
                $('#sorts .btn-primary').removeClass('btn-primary');
                $(this).addClass("btn-primary");
                
                $container00.isotope({
                    sortBy: sortByValue,
                    sortAscending: order
                });
            });

            $(document).ready(function() {

            });
        });
    </script>
{% endblock local_js %}

