<!-- external_media_udpate.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-12">
    <form action="." method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Update">
    </form>
</div>
{% endblock content %}
{% block local_js %}
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
    tinymce.init({
        menubar: false,
        plugins: "code",
        selector:"textarea.editor",
        toolbar: ["formatselect undo redo bold italic underline strikethrough alignleft aligncenter alignright alignjustify", "fontsizeselect bullist numlist outdent indent subscript superscript code"],
        // valid_elements : "p,a[href|target=_blank],strong/b,div[align],br,span",
        extended_valid_elements : "*[*]",//"math,msqrt,mroot,mfrac[bevelled],mn,mi,span[class],sup,sub,u",
    });
    </script>
{% endblock local_js %}
