<!-- ggv_update_page_msg.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Update" />
</form>
</div>
{% endblock content %}

{% block local_js %}
    <!--<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>-->
    <script>
    tinymce.init({
        menubar: false,
        plugins: "code",
        selector:"textarea",
        toolbar: ["formatselect undo redo bold italic underline strikethrough alignleft aligncenter alignright alignjustify", "fontsizeselect bullist numlist outdent indent subscript superscript code"],
        extended_valid_elements : "*[*]",
    });
    </script>
{% endblock local_js %}