<!-- ggv.html -->
{% extends "base.html" %}


{% block page_header %}
<div class="col-md-12 text-center">
    <h2><i class="fa fa-map-marker"></i> GGV Site Page</h2>
</div>
{% endblock page_header %}


{% block content %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}

<div class="col-md-12"><h3 class="lead"></h3></div>

{% if is_manager or user.is_staff %}
	<div class="col-md-6">Sites</div>
	<div class="col-md-2"><i class="fa fa-users icon-green"></i> Active</div>
	<div class="col-md-2"><i class="fa fa-users icon-orange"></i> Deactivated</div>
	<div class="col-md-2"><i class="fa fa-users icon-gray"></i> Unaccessed Accounts</div>
	<div class="col-md-12" class="border"><p></p></div>
{% endif %}

{% for i in courses %}

	<div class="col-md-6 hoverpad">
		<a href="{{ i.0.get_absolute_url }}">
			<p class=""><i class="fa fa-home"></i> {{ i.0.title }}</p>
		</a>	
	</div>
	
	{% if is_manager or user.is_staff %}
	
		<div class="col-md-2 hoverpad" title="active users"><p> <i class="fa fa-users icon-green"></i> {{ i.1 }} </p></div>
		<div class="col-md-2 hoverpad" title="deactivated users"><p><i class="fa fa-users icon-orange"></i> {{ i.2 }} </p></div>
		<div class="col-md-2 hoverpad" title="unaccessed accounts"><p><i class="fa fa-users icon-gray"></i> {{ i.3 }} </p></div>
	
	{% else %}
	
		<div class="col-md-6"><p>&nbsp;</p></div>
	
	{% endif %}
	
		
{% empty %}

    <h3>Hi, you don't appear to have any courses.</h3>

{% endfor %}

{% if is_manager or user.is_staff %}
	<div class="col-md-6">Total </div>
	<div class="col-md-2">{{ total_active }}</div>
	<div class="col-md-2">{{ total_deactive }}</div>
	<div class="col-md-2">{{ total_nologin }}</div>
	<div class="col-md-12" class="border"><p></p></div>
{% endif %}

{% endblock content %}
