<!-- ggv.html -->
{% extends "base.html" %}

{% block content %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}

    <div class="col-md-12"><h3 class="lead">Your courses:</h3></div>
{% for i in courses %}
	<a href="{{ i.get_absolute_url }}" class="">
		<div class="hoverpad col-md-10 col-md-offset-1">
			<p class="lead"><i class="fa fa-home"></i> {{ i.title }} {{i.get_user_role}}</p>
			<div class="center-block" style=""></div>
		</div>
	</a>
{% empty %}

    <h3>Hi, you don't appear to have any courses.</h3>

{% endfor %}


{% endblock content %}
