<!-- ggvorg_manage.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load guardian_tags %}


{% block page_crumb %}{% endblock page_crumb %}

{% block local_nav %}
    {% if is_manager %}
    <li>
        <a class="static nav-text" href="{% url 'create_user' course.slug %}">
            <i class="fa fa-user-plus text-primary"></i>
        </a>
    </li>
    {% endif %}
{% endblock local_nav %}

{% block page_header %}
<div class="col-md-12 text-center"><h2 class="lead"><i class="fa fa-university"></i> {{ object }} </h2></div>
{% endblock page_header %}

{% block content %}

<div class="col-md-6">
    <p class="lead">Overview</p>
    <dl class="dl-horizontal">
        <dt>User quota:</dt><dd>{{ object.user_quota }}</dd>
        <dt>Licenses used:</dt><dd>{{ num_licensees }}</dd>
        <dt>License start date:</dt><dd>{{ object.quota_start_date }}</dd>
        <dt>License end date:</dt><dd>{{ object.quota_end_date }}</dd>
        <dt>License manager contact:</dt><dd>{{ object.business_contact_email }}</dd>
        <dt>License manager phone:</dt><dd>{{ object.business_contact_phone }}</dd>
    </dl>
</div>

<div class="col-md-6">
    <p class="lead">{{ courses|length }} Courses [ <small><a href="{% url 'report_org_activity' object.id %}" class="small text-info" data-toggle="tooltip" data-placement="top" title="Download daily activity for all courses.">download daily report</a></small> ]</p>
    <dl class="dl-horizontal">
    {% for course in courses %} 
        <dt>{{ course }} </dt>
        <dd>
            [ <small><a href="{% url 'manage_course' course.slug %}" class="small text-info" data-toggle="tooltip" data-placement="top" title="View detailed roster.">roster</a></small> ]
            [ <small><a href="{% url 'report_full_course_activity' course.slug %}" class="small text-info" data-toggle="tooltip" data-placement="top" title="Download full activity report for all licensed users."> full report </a></small> ]
            [ <small><a href="{% url 'report_course_activity' course.slug %}?scope={% now 'Y-m-d' %}" class="small text-info" data-toggle="tooltip" data-placement="top" title="Download full report only for today.">today</a></small> ]

        </dd>
    {% endfor %}
    </dl>
</div>

<div class="col-md-12">
    <p>
        <span class="lead">Licensed Users</span>
        <a tabindex="0" class="btn btn-xs btn-warning" role="button" data-toggle="popover" data-trigger="focus" title="Licensed Users" data-content="Licensed users are counted against the user quota. Inactive users have an account but they have not logged in to activate.."><i class="fa fa-question-circle"></i></a>
    </p>
</div>
<div class="col-md-12 well">
    <div id="sorts" class="row">
        <div class="col-xs-12">
                <div class="col-xs-1"><button class="btn btn-block btn-sm btn-primary" data-sort-by="siteid" data-order="asc"> <i class="fa fa-sort"></i> id</button></div>
                <div class="col-xs-1"><button class="btn btn-block btn-sm" data-sort-by="firstname" data-order="asc"> <i class="fa fa-sort"></i> first</button></div>
                <div class="col-xs-1"><button class="btn btn-block btn-sm" data-sort-by="lastname" data-order="asc"> <i class="fa fa-sort"></i> last</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="username" data-order="asc"> <i class="fa fa-sort"></i> username</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="created" data-order="asc"> <i class="fa fa-sort"></i> created</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="login" data-order="asc"> <i class="fa fa-sort"></i> last login</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="courses" data-order="asc"> <i class="fa fa-sort"></i> courses</button></div>
                <div class="col-xs-1"><button class="btn btn-block btn-sm" data-sort-by="status" data-order="asc"> <i class="fa fa-sort"></i> status</button></div>
        </div>
    </div>
    <div id="container_sorts" class="row">
        {% for i, j in licensees.items %}
            <div class="item hoverpad col-xs-12 {% if not j.0.is_active %}bg-warning{% endif %}" data-created-login="{{ j.0.date_joined|date:'U' }}" data-login="{{ j.0.last_login|date:'U' }}">
                <div class="col-xs-1 siteid"><small>{{ j.0.ggvuser.program_id }}</small></div>
                <div class="col-xs-1 firstname"><small>{{ j.0.first_name }}</small></div>
                <div class="col-xs-1 lastname"><small>{{ j.0.last_name }}</small></div>
                <div class="col-xs-2 username"><small>{{ i }}</small></div>
                <div class="col-xs-2 created"><small>{{ j.0.date_joined|date:"Y-M-d" }}</small></div>
                <div class="col-xs-2 login"><small>{{ j.0.last_login|date:"Y - M d, g:i A" }}</small></div>
                <div class="col-xs-2 courses"><small>
                    {% for k, v in j.1.items %}
                        {{ k }} <i class="{% if v.0 == 'manage' %}fa fa-user-secret{% elif v.0 == 'instructor' %}fa fa-graduation-cap{% else %}fa fa-user{% endif %}"></i>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small></div>
                <div class="col-xs-1 status" data-status="{{ j.0.is_active }}"><small>
                    {% if j.0.is_active %}<span class="label label-success">active</span>
                    {% else %}<span  class="label label-warning">inactive</span>
                    {% endif %}
                </small></div>
            </div>
        {% empty %}
            There no licensees assigned for {{ object }}
        {% endfor %}
    </div>
</div>

<div class="col-md-12">
    <p>
        <span class="lead">Deactivated Users </span>
        <a tabindex="0" class="btn btn-xs btn-warning" role="button" data-toggle="popover" data-trigger="focus" title="Deactivated Users" data-content="Deactivated users are not counted against the user quota. Deactivated users cannot login."><i class="fa fa-question-circle"></i></a>
    </p>
</div>

<!-- Deactivated users list -->
<div class="col-md-12 well">
    <div id="deactived_sorts" class="row">
        <div class="col-xs-12">
                <div class="col-xs-2"><button class="btn btn-block btn-sm btn-primary" data-sort-by="d_siteid" data-order="asc"> <i class="fa fa-sort"></i> id</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="d_firstname" data-order="asc"> <i class="fa fa-sort"></i> first</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="d_lastname" data-order="asc"> <i class="fa fa-sort"></i> last</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="d_username" data-order="asc"> <i class="fa fa-sort"></i> username</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="d_deactivate" data-order="asc"> <i class="fa fa-sort"></i> deactivated on</button></div>
                <div class="col-xs-2"><button class="btn btn-block btn-sm" data-sort-by="d_course" data-order="asc"> <i class="fa fa-sort"></i> course </button></div>
        </div>
    </div>
    <div id="container_deactivated" class="row text-danger">
        {% for course, user_list in deactivated_users.items %}
            {% for i in user_list %}
            <div class="item hoverpad col-xs-12" data-d-login="{{ i.last_login|date:'U' }}">
                <div class="col-xs-2 d_siteid"><small>{{ i.ggvuser.program_id }}</small></div>
                <div class="col-xs-2 d_firstname"><small>{{ i.first_name }}</small></div>
                <div class="col-xs-2 d_lastname"><small>{{ i.last_name }}</small></div>
                <div class="col-xs-2 d_username"><small>{{ i }}</small></div>
                <div class="col-xs-2 d_deactivate"><small>{% if i.ggvuser.last_deactivation_date %} {{ i.ggvuser.last_deactivation_date|date:"Y - M d" }}{% else %} {{ i.last_login|date:"Y - M d"}} {% endif %}</small></div>
                <div class="col-xs-2 d_course"><small>{{ course }}</small></div>
            </div>
            
            {% endfor %}
        {% empty %}
                There no deactivated users for {{ object }}
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block local_js %}
    <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>

    <script type="text/javascript">
        jQuery(function($) {
            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip()

                var $container_sorts = $('#container_sorts').isotope({
                    getSortData: {
                        login: '[data-login] parseInt',
                        created: '[data-created-login] parseInt',
                        siteid: '.siteid',
                        firstname: '.firstname',
                        lastname: '.lastname',
                        username: '.username',
                        courses: '.courses',
                        status: '.status',
                    },

                });

                var $container_deactivated = $('#container_deactivated').isotope({
                    getSortData: {
                        d_login: '[data-d-login] parseInt',
                        d_siteid: '.d_siteid',
                        d_firstname: '.d_firstname',
                        d_lastname: '.d_lastname',
                        d_username: '.d_username',
                        d_course: '.d_course',
                    },

                });
                
                // sort licensed users on button click
                $('#sorts .btn').on( 'click', function() {
                    var sortByValue = $(this).attr('data-sort-by');
                    var order = "";
                    if ($(this).attr("data-order")==="asc") {
                        order = true;
                        $(this).attr("data-order", "");

                    } else {
                        order = false;
                        $(this).attr("data-order", "asc");
                    }
                    $('#sorts .btn-primary').removeClass('btn-primary');
                    $(this).addClass("btn-primary");

                    $container_sorts.isotope({
                        sortBy: sortByValue,
                        sortAscending: order
                    });
                });


                // sort deactivated users on button click
                $('#deactived_sorts .btn').on( 'click', function() {
                    var sortByValue = $(this).attr('data-sort-by');
                    var order = "";
                    if ($(this).attr("data-order")==="asc") {
                        order = true;
                        $(this).attr("data-order", "");

                    } else {
                        order = false;
                        $(this).attr("data-order", "asc");
                    }
                    $('#deactived_sorts .btn-primary').removeClass('btn-primary');
                    $(this).addClass("btn-primary");

                    $container_deactivated.isotope({
                        sortBy: sortByValue,
                        sortAscending: order
                    });
                });

                // default sort licensed users by courses
                $container_sorts.isotope({
                    sortBy: 'courses',
                    sortAscending: true
                });

                // default sort deactivated users by their site id
                $container_deactivated.isotope({
                    sortBy: 'd_siteid',
                    sortAscending: true
                });

            });
        });
    </script>



{% endblock local_js %}

