<!-- help_page_form.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
  <form action="." method="post">{% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Save Page" />
  </form>
{% endblock content %}

{% block local_js %}
    <script>
      tinymce.init({
        menubar: false,
        plugins: "code table",
        selector:"textarea.editor",
        toolbar: ["formatselect undo redo bold italic underline strikethrough alignleft aligncenter alignright alignjustify", "fontsizeselect table bullist numlist outdent indent subscript superscript code"],
        // valid_elements : "p,a[href|target=_blank],strong/b,div[align],br,span",
        extended_valid_elements : "*[*]",//"math,msqrt,mroot,mfrac[bevelled],mn,mi,span[class],sup,sub,u",
    });
    </script>
{% endblock local_js %}