<!-- lesson.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block local_nav %} 
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities <b class="caret"></b></a>
  <ul class="dropdown-menu">
    {% for i in acts %}<li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li> {% endfor %}
  </ul>
</li>
{% endblock local_nav %}

{% block page_header %} {{ object.title }} {% endblock page_header %}

{% block content %}

<div class="list-group">
	{% for i in acts %}
		{% ifchanged i.section %} <h2>{{ i.section }}</h2> {% endifchanged %}
		<a href="{{ i.get_absolute_url }}" class="list-group-item">
			<h4><span class="glyphicon glyphicon-{% if i.activity_type = 'slidestack' %}film" style="background: yellow"{% else %}list-alt" style="background: white"
				{% endif %}> </span> 
				{{ forloop.counter }}. {{ i.title }}
			</h4>
			<p class="list-group-item-text">...</p>
		</a>
	{% empty %}
		<h2>There are no activities assigned to this lesson.</h2>
	{% endfor %}
</div>
{% endblock content %}