<!-- lesson.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_crumb %}
  <li><a href="{% url 'course' course.slug %}">{{ course }} <i class="fa fa-caret-right"></i> </a></li>
  <li><a>{{ object.title }}</a></li>
{% endblock page_crumb %}

{% block local_nav %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities <b class="caret"></b></a>
  <ul class="dropdown-menu">
    {% for i in acts %}
      <li>
        {% if i.act.activity_type = 'slidestack' %}

            <a href="{% url 'slideview' course.slug i.act.id %}"><i class="fa fa-desktop"></i> {{ i.act.title }}</a>
        {% else %}

            <a href="{% url 'question_response' course.slug i.act.id 1 %}"><i class="fa fa-pencil-square-o"></i> {{ i.act.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Section <b class="caret"></b></a>
  <ul class="dropdown-menu section_drop">
    {% for i in sections %}<li><a href="#{{ i|title }}">{{ i|title }}</a></li>{% endfor %}
  </ul>
</li>
{% endblock local_nav %}

{% block content %}

<div class="col-md-12 lesson_list">
    	{% for i in acts %}
        {% ifchanged i.act.section %}<h3 id="{{ i.act.section|title }}" class="">{{ i.act.section|title }}</h3>{% endifchanged %}
        <div class="block row">
            <div class="block col-md-12">
                <div class="block-heading row">
                    <div class="col-md-10" style="clear: both">
                      <h4>
                        {% if i.act.activity_type = 'slidestack' %}
                            <i class="fa fa-desktop fa-2x"></i>
                            {{ forloop.counter }}.<a class="media-heading" href="{% url 'slideview' course.slug i.act.id %}">{{ i.act.title }}</a>
                            {% if is_staff %}<a href="{% url 'slide_update' i.act.id %}" class="btn btn-xs btn-success">edit</a>{% endif %}
                        {% else %}
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                            {{ forloop.counter }}.<a class="media-heading" href="{% url 'question_response' course.slug i.act.id 1 %}">{{ i.act.title }}</a>
                            {% if is_staff %}<a href="{% url 'worksheet_update' i.act.id %}" class="btn btn-xs btn-success">edit</a>{% endif %}

                        {% endif %}
                      </h4>
                    </div>

                    <div class="col-md-1">
                      {% comment %}<a href="#" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-calendar-o"></i> date</a>
                      {% endcomment %}
                    </div>

                    <div class="col-md-1">
                      <a id="{{i.act.id}}_bkbtn" href="#{{i.act.id}}_add_bookmark" class="btn btn-xs" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-star fa-2x flagger {% if i.bookmark %}bkset{% endif %}"></i>
                        <span>{{ i.bookmark.mark_type }}</span>
                      </a>
                      {% comment %}
                      <div id="{{i.act.id}}_add_bookmark" class="panel-collapse collapse">
                        <form id="{{i.act.id}}_flag_form" action="" method="post" class="bookmarkform" data-panel="#{{i.act.id}}_add_bookmark" data-update="#{{i.act.id}}_bkbtn" data-target="{{ i.bookmark.id }}">{% csrf_token %}
                            {{ i.bookmarkform|crispy }}
                        </form>
                      </div>
                    {% endcomment %}
                    </div>

                </div>

                {% comment %}
                <div class="block-body well row" style="margin: 10px 40px 10px 40px">
                    <div class="col-md-12">
                    Cras sit amet nibh libero, in gravida nulla.
                    </div>
                </div>
                {% endcomment %}
                {% comment %}
                <div class="block-footer row">
                    <div class="col-md-12" style="text-align: right">
                        <a href="#"> activity </a> last opened
                    </div>
                 </div>
                 {% endcomment %}
            </div>
        </div>
                    <hr>

    	{% empty %}
    		<h2>There are no activities assigned to this lesson.</h2>
    	{% endfor %}
</div>

{% endblock content %}

{% block local_js %}
    <script src="{% static 'js/lessons.js'%}"></script>
{% endblock local_js %}
