<!-- lesson.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_crumb %}
  <li><a href="{% url 'course' course.slug %}">{{ course }} <i class="fa fa-caret-right"></i> </a></li>
  <li><a>{{ object.title }}</a></li>
{% endblock page_crumb %}

{% block local_nav %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities <b class="caret"></b></a>
  <ul class="dropdown-menu">
    {% for i in acts %}
      <li>
        {% if i.act.activity_type = 'slidestack' %}

            <a href="{% url 'slideview' course.slug i.act.id %}"><i class="fa fa-desktop icon-slidestack"></i> {{ i.act.title }}</a>
        {% else %}

            <a href="{% url 'question_response' course.slug i.act.id 1 %}"><i class="fa fa-pencil-square-o"></i> {{ i.act.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Section <b class="caret"></b></a>
  <ul class="dropdown-menu section_drop">
    {% for i in sections %}<li><a href="#{{ i|title }}">{{ i|title }}</a></li>{% endfor %}
  </ul>
</li>
{% endblock local_nav %}

{% block content %}

<div class="col-md-12 lesson_list" data-course="{{ course.id }}" data-user="{{ user }}">
    	{% for i in acts %}
        {% ifchanged i.act.section %}<h2 id="{{ i.act.section|title }}" class="section_heading">{{ i.act.section|title }}</h2>{% endifchanged %}
        <div class="block row">
            <div class="block col-md-12">
                <div class="block-heading row">
                    <div class="col-md-10" style="clear: both">
                      <h4>
                        {% if i.act.activity_type = 'slidestack' %}
                            <i class="fa fa-desktop fa-2x icon-slidestack"></i>
                            {{ forloop.counter }}.<a class="btn btn-lg media-heading" href="{% url 'slideview' course.slug i.act.id %}">{{ i.act.title }}</a>
                            {% if is_staff %}<a href="{% url 'slide_update' i.act.id %}" class="btn btn-xs btn-success">edit</a>{% endif %}
                        {% else %}
                            <i class="fa fa-pencil-square-o fa-2x icon-worksheet"></i>
                            {{ forloop.counter }}.<a class="btn btn-lg media-heading" href="{% url 'question_response' course.slug i.act.id 1 %}">{{ i.act.title }}</a>
                            {% if is_staff %}<a href="{% url 'worksheet_update' i.act.id %}" class="btn btn-xs btn-success">edit</a>{% endif %}

                        {% endif %}
                      </h4>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-1">
                      <a id="{{i.act.id}}_bkbtn" href="#{{i.act.id}}_add_bookmark" class="btn btn-xs" data-toggle="collapse" aria-expanded="false">
                        <i class="flagger fa fa-2x {% if i.bookmark %}fa-star{% else %}fa-star-o{% endif %}"></i>
                        <span>{{ i.bookmark_label|title }}</span>
                      </a>

                      <div id="{{i.act.id}}_add_bookmark" class="panel-collapse collapse">
                        <form id="{{i.act.id}}_flag_form" action="" method="post" class="bookmarkform" data-panel="#{{i.act.id}}_add_bookmark" data-update="#{{i.act.id}}_bkbtn" data-target="{{ i.bookmark_id }}">{% csrf_token %}
                            <div id="div_id_mark_type" class="form-group">
                                <div class="controls ">

                                    <label class="radio"><input type="radio" {% if i.bookmark_label == "remember" %}checked="checked"{% endif %} name="mark_type" id="id_mark_type_1" value="remember">Remember</label>
                                    <label class="radio"><input type="radio" {% if i.bookmark_label == "todo" %}checked="checked"{% endif %} name="mark_type" id="id_mark_type_2" value="todo">Todo</label>
                                    <label class="radio"><input type="radio" {% if i.bookmark_label == "started" %}checked="checked"{% endif %} name="mark_type" id="id_mark_type_3" value="started">Started</label>
                                    <label class="radio"><input type="radio" {% if i.bookmark_label == "completed" %}checked="checked"{% endif %} name="mark_type" id="id_mark_type_4" value="completed">Completed</label>
                                    <label class="radio"><input type="radio" {% if i.bookmark_label == "question" %}checked="checked"{% endif %} name="mark_type" id="id_mark_type_5" value="question">Question</label>
                                    <label class="radio"><input type="radio" {% if not i.bookmark_label %}checked="checked"{% endif %} name="mark_type" id="id_mark_type_6" value="none">Clear</label>
                                </div>
                            </div>
                            <input id="id_creator" name="creator" type="hidden" value="{{ user.id }}">
                            <input id="id_content_type" name="content_type" type="hidden" value="{{ i.act_type_id }}">
                            <input id="id_object_id" name="object_id" type="hidden" value="{{i.act.id}}">
                            <input id="id_course_context" name="course_context" type="hidden" value="{{ course.id }}">

                        </form>
                      </div>

                    </div>

                </div>
            </div>
        </div>
        <hr>

    	{% empty %}
    		<h2>There are no activities assigned to this lesson.</h2>
    	{% endfor %}
</div>

{% endblock content %}

{% block local_js %}
    <script src="{% static 'js/lessons.js'%}"></script>
{% endblock local_js %}
