<!-- question_worksheet_key.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="col-md-12">{{ object }}</div>

    <div class="col-md-10 col-md-offset-1">
    <table class="table">
        <tbody>
        {% for i in worksheets %}
            <thead>
              <tr><th>{{ i.0 }}</th><th></th></tr>
              <tr>
                <th width="5px"><small><em>#</em></small></th>
                <th><small><em>Question</em></small></th>
                <th><small><em>Answer</em></small></th>
              </tr>
            </thead>

            {% for j in i.1 %}
                <tr>
                    <td width="5px">{{ forloop.counter }}</td>
                    <td>{{ j.0|safe }}</td>
                    <td>{{ j.1|safe }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>




    </div>

{% endblock content %}
