<!-- question_grade_response.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="col-md-12 text-center">
        <h2>{{ question.question_set.lesson }} Extended Response Grading</h2>
    </div>
{% endblock page_header %}

{% block content %}
<div class="col-md-12">  
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Worksheet</dt> <dd><p>{{ question.question_set }}</p> </dd>
                
                <dt>Original question</dt>
                <dd><p>{{ question.display_text|safe }}</p></dd>
            </dl>
            <p>
                {% if question.display_pdf %}
                    <iframe id="pdf_display" src="{{ question.display_pdf.url|slice:"-3" }}html" class="pdfframe"></iframe>
                {% endif %}
                {% if question.display_image %}
                    <img src="question.display_image.url"> 
                {% endif %}                
            </p>
        </div>

        <div class="col-md-6">
            <h4>{{ object.user.first_name }} {{ object.user.last_name }} Response</h4>
            <dl>
                <dt></dt>
                <dd class="well" style="background-color: #fcf8e3"><p>{{ object.response }}</p></dd>
            </dl>

            <h4>Instructor/Tutor Assessment</h4>
            <dl>
                <dt>
                    <h5>Maximum points: <span class="label label-success">{{ question.max_points }}</span> Minimum to pass: <span class="label label-warning">{{ question.min_correct }}</span></h5>
                    
                    <!-- Modal trigger -->
                    <a id="rubric_btn" href="#" title="Click to show rubric for assessing." class="btn btn-link btn-lg" data-toggle="modal" data-target="#rubric"><i class="fa fa-list"></i> View Rubric</a>
                </dt>
                <dd>                    
                    <form action="" method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-sm btn-success" type="submit">Submit Score</button>
                        
                    </form>     
                </dd>
            </dl>
        </div>
    </div>

    <!-- Modal Content -->
    <div class="modal fade" id="rubric" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-body">
                    <p>{{ question.extra_info.rubric|safe }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


