<!-- question_update.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% load fb_versions %}

{% block content %}
<div class="col-md-12">
    <h1></h1>
    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <legend>{{object.get_question_type|title}} Question </legend>
                {{ form|crispy}}
            </div>

            {% if  optionsform %}
            <div class="col-md-6">
                <fieldset>
                    <legend>Multiple Choice Options</legend>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Order</th>
                            <th>Option Text</th>
                            <th>Correct?</th>
                            <th>Delete?</th>
                        </tr>
                    {{ optionsform.management_form }}
                    {% for opt in optionsform %}
                        <tr>{{ opt.id }}
                            <td> {{ opt.display_order }} </td>
                            <td> {{ opt.display_text }} </td>
                            <td> {{ opt.correct }} </td>
                            <td> {{ opt.DELETE }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </fieldset>
            </div>
            {% endif %}
            <div class="col-md-12">
                <h1></h1>
                <input type="submit" value="Update">
            </div>
        </div>

    </form>
</div>
{% comment %}
{% for f in filelisting %}
<div class="col-md-3" style="text-align: center">
    <div class="row">
        <div class="col-md-12">
            <img height="240px" src="{{ MEDIA_URL }}{{ f.url }}" />
        </div>
        <div class="col-md-12">{{f}}</div>
    </div>
</div>
{% endfor %}
{% endcomment %}


{% endblock content %}
{% block local_js %}
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
    tinymce.init({
        menubar: false,
        plugins: "code",
        selector:"textarea.editor",
        toolbar: ["formatselect undo redo bold italic underline strikethrough alignleft aligncenter alignright alignjustify", "fontsizeselect bullist numlist outdent indent subscript superscript code"],
        // valid_elements : "p,a[href|target=_blank],strong/b,div[align],br,span",
        extended_valid_elements : "*[*]",//"math,msqrt,mroot,mfrac[bevelled],mn,mi,span[class],sup,sub,u",
    });
    </script>
{% endblock local_js %}
