<!-- question_embed.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_crumb %}
    <li><a href="{{ course.get_absolute_url }}">{{ course }} <i class="fa fa-caret-right"></i></a></li>
    <li><a href="{% url 'lesson' course.slug worksheet.lesson.id %}">{{ worksheet.lesson }} <i class="fa fa-caret-right"></i></a></li>
    <li><a href="{% url 'lesson' course.slug worksheet.lesson.id %}#{{ worksheet.section|title }}">{{ worksheet.section|title }} <i class="fa fa-caret-right"></i></a></li>
    <li><a>{{ worksheet }}</a></li>
{% endblock page_crumb %}

{% block content %}
    <div class="col-md-12">
        <div class="row " style="padding-top: 10px">

            <form  id="flag_form" action="" method="post">{% csrf_token %}
                {{ bookmarkform|crispy }}
            </form>

        <!-- LEFT panel: Question text and input for response -->
            <div class="col-md-4 ">
            <!-- Question header -->
                <div class="lead">
                    {{ question_position }}/{{ question_list|length }}.
                    <i class="fa fa-flag flagger {% if bookmark %}bkset{% endif %}" data-target="{{ bookmark.id }}" data-form="#flag_form"></i>
                    <h6></h6>
                    {% if calculator %}
                    <!-- Modal trigger -->
                    <a type="button" style="padding: 0 5px 0 5px" class="pull-right" data-toggle="modal" data-target="#calculator">
                      <i class="fa fa-calculator"></i>
                    </a>
                    <!-- Modal Content -->
                    <div class="modal fade" id="calculator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
                          </div>
                          <div class="modal-body">
                            <iframe src = "{% static 'js/ViewerJS/' %}#{{calculator}}" width='100%' height='450' allowfullscreen webkitallowfullscreen></iframe>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if formula %}
                    <!-- Modal trigger -->
                    <a type="button" style="padding: 0 5px 0 5px" class="pull-right" data-toggle="modal" data-target="#formula_display">
                       <i class="fa fa-book"></i>
                    </a>
                    <!-- Modal Content -->
                    <div class="modal fade" id="formula_display" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
                          </div>
                          <div class="modal-body">
                            <iframe src = "{% static 'js/ViewerJS/' %}#{{formula}}" width='100%' height='450' allowfullscreen webkitallowfullscreen></iframe>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    {%if user_completed %}
                        {% if instructor %}
                        <a href="{% url 'worksheet_report' course.slug worksheet.id %}" class="btn btn-xs btn-primary">
                        Full <i class="fa fa-check"></i> <i class="fa fa-th-list"></i>
                        </a>
                        {% endif %}

                        <a href="{% url 'worksheet_user_report' course.slug worksheet.id user.id %}"  class="btn btn-xs btn-primary">
                            <i class="fa fa-check"></i> <i class="fa fa-th-list"></i>
                        </a>

                        <a class="btn btn-xs btn-success" data-toggle="collapse" href="#progress-panel" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-question"></i> <i class="fa fa-list"></i></span>
                        </a>
                        <div id="progress-panel" class="well collapse">
                            {% for k, v in question_list.items %}


                                    <a  style="padding: 2px; " href="{% url 'question_response' course.slug worksheet.id forloop.counter %}">
                                        {% if forloop.counter == question_position  %}
                                            <span class="badge larger">{{ forloop.counter }}</span>
                                        {% else %}
                                            <span class="">{{ forloop.counter }}</span>
                                        {% endif %}
                                    </a>


                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if edit_url %}<a href="{{ edit_url }}" class="btn btn-xs btn-warning">edit</a>{% endif %}
                </div>


            <!-- Question content -->
            <p class="clearfix"></p>
                <div class="lead">{{ question | safe }} </div>

                <form id="response_form" action="" method="post" >{% csrf_token %}
                    {% if question.response_required %}
                    {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}

                    <p class="label label-danger">{% for e in form.response.errors  %}An answer is required.{% endfor %}</p>
                    <p></p>

                    {% for field in form.response %}
                    <p>
                        {% if not field.choice_label %}
                            <label for="{{ field.id_for_label }}">{{ field }}</label>
                        {% else %}
                            <label for="{{ field.id_for_label }}">
                                {{ field.tag }} {{ field.choice_label | safe }}
                            </label>
                        {% endif %}
                    </p>
                    {% endfor %}
                    {% endif %}
                    <p></p>
                    <p>
                        {%if user_completed and previous_position %}
                            <a href="{% url 'question_response' course.slug worksheet.id previous_position %}" class="btn">Previous</a>
                        {% endif %}
                        {% if form.response and question.response_required %}
                            <input id="chk_response_btn" type="submit" value="Submit Answer" class="btn btn-default">
                        {% elif next_position and not user_completed %}
                            <a href="{% url 'question_response' course.slug worksheet.id next_position %}" class="btn">Continue</a>
                        {% endif %}

                        {% if user_completed and next_position  %}
                            <a href="{% url 'question_response' course.slug worksheet.id next_position %}" class="btn">Next</a>
                        {% endif %}
                    </p>
                </form>

            </div>

        <!-- RIGHT panel: Question media (images, pdfs) -->
            {%if question.display_image %}
                <div class="col-md-8">
                        <div><img class="fit" src="{{ question.display_image.url }}"></div>
                </div>
            {% endif %}

            {%if question.display_pdf %}
                <div class="col-md-8">
                    <iframe src = "{% static 'js/ViewerJS/' %}#{{ question.display_pdf.url }}" width='100%' height='450' allowfullscreen webkitallowfullscreen></iframe>
                </div>
            {% endif %}

            {% if worksheet.display_pdf %}
                <div class="col-md-8">
                    <iframe src = "{% static 'js/ViewerJS/' %}#{{ worksheet.display_pdf.url }}" width='100%' height='768' allowfullscreen webkitallowfullscreen></iframe>
                </div>
            {% endif %}

        </div>
    <!-- END TWO PANEL CONTENT -->

    <!-- BOTTOM ROW -->
    {% comment %}
        <div class="row">
            <div class="col-md-12">
                <legend>Messages
                    <a data-toggle="collapse" href="#add_note_panel" aria-controls="add_note_panel"><small>+</small></a>
                </legend>
                    <div id="add_note_panel" class="panel-collapse collapse">
                            <form id="noteform" action="" method="post">{% csrf_token %}
                                {{ noteform|crispy }}
                                <p><input id="note_submit_btn" type="submit" class="btn btn-default" value="Add Note"/></p>
                            </form>
                    </div>
                <dl id="notes">
                {% for i in note_list  %}
                    <dt><small>{{ i.creator }}</small><small style="float: right">{{ i.modified|date:"M j Y" }}</small></dt>
                    <dd class="well">{{ i.text }}</dd>
                {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    {% endcomment %}
    <!-- END BOTTOM ROW -->
<!-- THE END -->
{% endblock content %}

{% block local_js %}
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea.editor'});</script>
    <script src="{% static 'js/questions.js'%}"></script>

    <script type="text/javascript" language="JavaScript">
        function set_body_height() {
            var wh = $(window).height();
            $('body').attr('style', 'height:' + wh + 'px;');
        }
        $(document).ready(function() {
            set_body_height();
            $(window).bind('resize', function() { set_body_height(); });
        });
    </script>

{% endblock local_js %}
