<!-- question_worksheet_completed.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block page_crumb %}{% endblock page_crumb %}

{% block page_header %}
<div class="col-xs-4 small">
    <i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i>
    <a href="{% url 'lesson' course.slug status.completed_worksheet.lesson.id %}"> {{ status.completed_worksheet.lesson }}</a>
</div>

<div class="col-md-4 text-center">
    <p class="lead">{% if language_pref == 'spanish' %}Has completado {% else %}You have completed {% endif %}</p>
    <h2><strong>{{ status.completed_worksheet }}</strong></h2>
</div>
{% endblock page_header%}


{% block content %}
    <div class="col-md-6 col-md-offset-3 text-center lead">
    {% if request.user.ggvuser.language_pref == 'spanish' %}

        {% if course.control_worksheet_results %}
            {% if status.can_check_results %}
                Puedes comprobar tus respuestas <a href="{% url 'worksheet_user_report' course.slug status.completed_worksheet.id status.user.id %}"><strong>aquí</strong></a>.
            {% else %}
                Puede verificar sus respuestas después de que su instructor haya revisado sus respuestas.           
                <p>Trate de completar más actividades en esta lección <a href="{% url 'lesson' course.slug status.completed_worksheet.lesson.id %}"><strong>aquí</strong></a></p>
            {% endif %}
        {% else %}
            Puedes comprobar tus respuestas <a href="{% url 'worksheet_user_report' course.slug status.completed_worksheet.id status.user.id %}"><strong>aquí</strong></a>.
        {% endif %}

    {% else %}

        {% if course.control_worksheet_results %}
            {% if status.can_check_results %}
                You can check your answers <a href="{% url 'worksheet_user_report' course.slug status.completed_worksheet.id status.user.id %}"><strong>here</strong></a>.
            {% else %}
                You can check your answers after your instructor has reviewed your responses.           
                <p>Try completing more activities in this lesson <a href="{% url 'lesson' course.slug status.completed_worksheet.lesson.id %}"><strong>here</strong></a></p>
            {% endif %}
        {% else %}
            You can check your answers <a href="{% url 'worksheet_user_report' course.slug status.completed_worksheet.id status.user.id %}"><strong>here</strong></a>.
        {% endif %}

    {% endif %}




</div>

{% endblock content %}



