<!-- question_worksheet_completed.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block page_crumb %}{% endblock page_crumb %}

{% block page_header %}
<div class="col-xs-4 small">
    <i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i>
    <a href="{% url 'lesson' course.slug status.completed_worksheet.lesson.id %}"> {{ status.completed_worksheet.lesson }}</a>
</div>

<div class="col-md-4 text-center">
    <p class="lead">You have completed <i>{{ status.completed_worksheet }}</i>!</p>
</div>
{% endblock page_header%}


{% block content %}
<div class="col-md-6">
    {% if course.control_worksheet_results %}
        {% if status.can_check_results %}
            You can check your answers <a href="{% url 'worksheet_user_report' course.slug status.completed_worksheet.id status.user.id %}">here</a>.

        {% else %}
            You can check your answers after your instructor has reviewed your responses. View more activities in this lesson <a href="{% url 'lesson' course.slug status.completed_worksheet.lesson.id %}">here</a>.
        {% endif %}
    {% else %}
        You can check your answers <a href="{% url 'worksheet_user_report' course.slug status.completed_worksheet.id status.user.id %}">here</a>.
    {% endif %}


</div>

{% endblock content %}
