<!-- question.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %} GGV | worksheet | {{ object.id }} | {{ active|add:"1" }} {% endblock page_title %}
{% block content %}
    {{ access }}
   	{% if active <= questions|length %}
    <div class="row">
        <div class="col-md-12" style="text-align: center">

    		<ul class="pagination pagination-sm " style="display:none">

    			{% for i in questions %}
                    {% if forloop.counter == active %}
                        <span class="label label-primary"><a href="#">{{ forloop.counter }}</a></span>
                    {% else %}
                        {% if not i.response %}
                            <span class="label label-default"><a href="/ggv/worksheet/{{ object.id }}/{{ forloop.counter }}">{{ forloop.counter }}</a></span>
                        {% elif i.correct %}
                            <span class="label label-success"><a href="/ggv/worksheet/{{ object.id }}/{{ forloop.counter }}">{{ forloop.counter }}</a></span>
                        {% else %}
                            <span class="label label-danger"><a href="/ggv/worksheet/{{ object.id }}/{{ forloop.counter }}">{{ forloop.counter }}</a></span>
                        {% endif %}   			
    				{% endif %}
    			{% endfor %}

    		</ul>

            <div>
                {% if prev > 0 %}
                    <a href="/ggv/worksheet/{{ object.id }}/{{ prev }}" style="color: black">
                        <span class="label label-default"><span class="glyphicon glyphicon-chevron-left"></span></span>
                    </a>
                {% endif %}
                
                <span  class="label label-primary" style="font-size: 1.5em">{{ active }}</span>
                
                {% if next <= questions|length and active < questions|length %}
                    <a href="/ggv/worksheet/{{ object.id }}/{{ next }}" style="color: black">
                        <span class="label label-default"><span class="glyphicon glyphicon-chevron-right"></span></span>
                    </a>        
                {% endif %}
            </div>

        </div>
    </div>

	{% endif %}     

    <div class="row">
        {% if form %}
        <div class="col-md-8">
            <h3>{{ object }} <small>{{ object.instructions }}</small></h3>            
        	
    	    <form method="post" action="" style="text-align: left">
    	        {% csrf_token %}
    	        
    	        {% for hidden in form.hidden_fields %} {{ hidden }}	{% endfor %}

    	        {% for field in form.visible_fields%}
    	        	{% for e in field.errors %}<span class="label label-danger"> {{ e }} </span>{% endfor %}
                    <p><h2>
                    {% if not response %}
                        &nbsp;
                    {% elif correct %}
                        <span class="label label-success">Correct!</span> 
                    {% else %}
                        <span class="label label-danger">Try again.</span>
                    {% endif %}
                    </h2></p>
    				<p class="question_prompt">{{ field.label }}</p> 
    				<p class="question_input">{{ field }}</p>

                    		
    			{% endfor %}

    			{% for e in field.non_field_errors %}<span class="label label-warning"> {{ e }} </span>{% endfor %}

    	        <div class="question_submit"><button type="submit" class="btn btn-default">Check it!</button></div>
    	    </form>
        </div>
        
        <div class="col-md-4">
            <h3></h3>
            <div id="note_list" class="row">
            {% for i in notes %}
                <!-- <div class="note_block"> -->
                    <p class="small"> {{ i.creator }} </p>
                    <p>{{ i.text }}</p>
                <!-- </div> -->
            {% endfor %}
            </div>
            {% if instructor %}
            <form id="note_form" action="{% url 'create_note'%}" method="POST">
              {% csrf_token %}              
                {{ note_form|crispy }}
              <input id="note_submit" type="button" value="Save" />
            </form>
            {% endif %}


        </div>

        {% else %}
        	{% if active == questions|length %}
        		<p class="question_prompt">You've reached the end of this worksheet.</p>
        	{% else %}
        		<p class="question_prompt">This question does not exist.</p>
        	{% endif %}
        {% endif %}

    </div>


{% endblock content %} 

{% block local_js %} <script src="{% static 'js/questions.js' %}"></script> {% endblock local_js %}
