<!-- question.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %} GGV | worksheet | {{ object.id }} | {{ active|add:"1" }} {% endblock page_title %}
{% block content %}
   	{% if active <= questions|length %}
    <div class="row" style="text-align: center">

		<ul class="pagination pagination-sm">


			{% for i in questions %}
                {% if forloop.counter == active %}

                    <span class="label label-primary"><a href="#">{{ forloop.counter }}</a></span>
                {% else %}
                    {% if not i.response %}
                        <span class="label label-default"><a href="/ggv/worksheet/{{ object.id }}/{{ forloop.counter }}">{{ forloop.counter }}</a></span>
                    {% elif i.correct %}
                        <span class="label label-success"><a href="/ggv/worksheet/{{ object.id }}/{{ forloop.counter }}">{{ forloop.counter }}</a></span> 
                    {% else %}
                        <span class="label label-danger"><a href="/ggv/worksheet/{{ object.id }}/{{ forloop.counter }}">{{ forloop.counter }}</a></span>
                    {% endif %}   			
				{% endif %}
			{% endfor %}

            

		</ul>

        <h2>
        {% if prev > 0 %}
            <a href="/ggv/worksheet/{{ object.id }}/{{ prev }}" style="color: black">
                <span class="label label-default"><span class="glyphicon glyphicon-chevron-left"></span></span>

            </a>
        {% endif %}

        {{ active }}           

        {% if next < questions|length and active < questions|length %}
            <a href="/ggv/worksheet/{{ object.id }}/{{ next }}" style="color: black">
                <span class="label label-default"><span class="glyphicon glyphicon-chevron-right"></span></span>
            </a>
        
        {% endif %}
        </h2>
        
    </div>
	{% endif %}
    <h1>{{ object }} <small>{{ object.instructions }}</small></h1>
    

	<div class="col-md-6 col-md-offset-3">
    {% if form %}
    	
	    <form method="post" action="" style="text-align: left">
	        {% csrf_token %}
	        
	        {% for hidden in form.hidden_fields %} {{ hidden }}	{% endfor %}

	        {% for field in form.visible_fields%}
	        	{% for e in field.errors %}<span class="label label-danger"> {{ e }} </span>{% endfor %}
                <p><h2>
                {% if not response %}
                    &nbsp;
                {% elif correct %}
                    <span class="label label-success">Correct!</span> 
                {% else %}
                    <span class="label label-danger">Try again.</span>
                {% endif %}
                </h2></p>
				<p class="question_prompt">{{ field.label }}</p> 
				<p class="question_input">{{ field }}</p>

                		
			{% endfor %}

			{% for e in field.non_field_errors %}<span class="label label-warning"> {{ e }} </span>{% endfor %}

			<hr>
	        
	        <div class="question_submit"><button type="submit" class="btn btn-default">Submit</button></div>
	    </form>

    {% else %}
    	{% if active == questions|length %}
    		<p class="question_prompt">You've reached the end of this worksheet.</p>
    	{% else %}
    		<p class="question_prompt">This question does not exist.</p>
    	{% endif %}
    {% endif %}
    </div>

{% endblock content %} 

{% block local_js %} <script src=""></script> {% endblock local_js %}
