{# test.html #}

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="col-md-4">
    <h1>LEFT PANEL</h1>

    <p>
        <!-- Modal trigger -->
        <a type="button" style="padding: 0 5px 0 5px" class="btn btn-lg btn-default" data-toggle="modal" data-target="#formula_display">
           <i class="fa fa-book"></i>
        </a>
        <!-- Modal Content -->
        <div class="modal fade" id="formula_display" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
              </div>
              <div id="" class="modal-body divToScroll" width='800' height='450' >
                <iframe src = "http://www.ggvinteractive.com/media/pdf/7_Trail_of_Tears.pdf" width='800' height='100%' allowfullscreen webkitallowfullscreen  ></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
    </p>


</div>
<div id="" class="col-md-8" class="">
    <a href="http://192.168.1.109/static/img/test.pdf">docview</a>
    <embed src = "http://192.168.1.109/static/img/test.pdf"></embed>
    {# <iframe src = "http://192.168.1.109/static/img/test.pdf" frameBorder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> #}
</div>

{% endblock content %}
