<!-- user_create.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_crumb %}{% endblock page_crumb %}

{% block page_header %}

<div class="col-md-12 text-center">
    <h2><i class="fa fa-user-plus"></i> Add New User</h2>
    <p class="lead">{{ course }}</p>
    <div class="btn-group">        
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span style="font-size: 0.8em">Add a user to a different course?</span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
        {% for i in org_courses %}
            {% if i != course %}
                <li><a href="{% url 'create_user' i.slug %}">{{ i }}</a></li>
            {% endif %}    
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock page_header %}

{% block content %}

<div class="col-md-6">
    <h3 class="border-btm">New User Account Info</h3>

    <h5 class="">
        <span class="label {% if license_count >= license_quota %}label-danger{% else %}label-success{% endif %}">{{ license_count }} of {{ license_quota }} licenses used.</span>
        <span class="label label-default">{{ licenses.student_count }} students</span>
        <span class="label label-default">{{ licenses.instructor_count }} instructors</span>
        <span class="label label-default">{{ licenses.manager_count }} managers</span>
    </h5>



    
    <form class="well" method="post" action="." style="padding: 50px;">{% csrf_token %}

<!-- GOOGLE DB LIST -->
    {% if google_db %}
        <div class="well center-block" style="background-color: #ccc">
            <!--Add buttons to initiate auth sequence and sign out-->
            <button id="authorize-button" class="btn btn-md btn-warning center-block" style="display: none;">Load Google Data</button>
            <button id="signout-button" class="btn btn-md btn-success center-block" style="display: none;">Google Data Access Granted</button>
            <div id="div_id_google_account_selector" class="form-group" style="display: none"> 
                <label for="google_account_selector" class="control-label ">Select user information from your enrollment data sheet (optional):</label>
                <div class="controls "> 
                <select class="select form-control" id="google_account_selector" name="google_account_selector">
                    <option value=" ">--</option>
                </select>
                </div> 
            </div>
            <div id="google_db_users"></div>
            <input id="google_id" type="hidden" value="{{ google_db.google_file_id }}"/>
        </div>
    {% endif %}
<!-- END GOOGLE DB LIST -->

        {{ form|crispy }}
        <button class="btn btn-sm btn-success" type="submit">Add User to {{ course }}</button>
    </form>
</div>



<div class="col-md-6">
    <h3 class="border-btm">Roster and License Info</h3>
    <h1></h1>
    <h4 class="bg-info">{{ course }} Roster: <a href="{% url 'manage_course' course.slug %}" class="btn btn-link small" title="View roster information for {{course}}.">[manage roster]</a></h4>
    {% for i in instructors %}
        <div class="row small hoverpad"><a href="{% url 'view_user' course.slug i.id %}" class="static">
            <div class="col-md-4"><i class="fa fa-graduation-cap"></i> {{ i.first_name }}</div>
            <div class="col-md-4">{{ i.last_name }}</div>
            <div class="col-md-4">{{ i.email }}</div>
        </a></div>
    {% endfor %}
    <h6><hr></h6>
    {% for i in students %}
        <div class="row small hoverpad"><a href="{% url 'view_user' course.slug i.id %}" class="static">
            <div class="col-md-4"><i class="fa fa-user"></i> {{ i.first_name }}</div>
            <div class="col-md-4">{{ i.last_name }}</div>
            <div class="col-md-4">{{ i.email }}</div>
        </a></div>
    {% endfor %}
    


    <h1></h1>

    <h4 class="bg-info">All {{ course.ggv_organization }} Accounts <a href="{% url 'manage_org' course.ggv_organization.id %}" class="btn btn-link small" title="View account information for {{course.ggv_organization}}.">[manage licenses]</a></h4>
    <h5>
        
            <span class="label {% if license_count >= license_quota %}label-danger{% else %}label-success{% endif %}">{{ license_count }} of {{ license_quota }} licenses used.</span>
        <span class="label label-default">{{ licenses.student_count }} students</span>
        <span class="label label-default">{{ licenses.instructor_count }} instructors</span>
        <span class="label label-default">{{ licenses.manager_count }} managers</span>

    </h5>

    {% for i, j in active.items %}
    
        <div class="row small hoverpad"><a href="{% url 'view_user' j.courses.0.slug i.id %}" class="static">
            <div class="col-md-4">{{ i }}</div>
            <div class="col-md-4">{{ i.first_name }} {{ i.last_name }}</div>
            <div class="col-md-4">
            {% for c in j.courses %}
                <i class="{% if 'manage' in j.perms %}fa fa-user-secret{% elif 'instructor' in j.perms %}fa fa-graduation-cap{% else %}fa fa-user{% endif %}"></i> {{ c }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </div>
        </a></div>
    
    {% endfor %}
    {% for i, j in unvalidated.items %}
        <div class="row small hoverpad bg-danger"><a href="{% url 'view_user' j.courses.0.slug i.id %}" class="static">
            <div class="col-md-4">{{ i }}</div>
            <div class="col-md-4">{{ i.first_name }} {{ i.last_name }}</div>
            <div class="col-md-4">
            {% for c in j.courses %}
                <i class="{% if 'manage' in j.perms %}fa fa-user-secret{% elif 'instructor' in j.perms %}fa fa-graduation-cap{% else %}fa fa-user{% endif %}"></i> {{ c }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </div>
        </a></div>
    {% endfor %}
    <!-- <h2 class="lead">{{ course }} Unregistered users:</h2> -->
    {% for i in unregistered %}
        <p> {{ i }} </p>
    {% endfor %}

    {% for i in user_list %}
        <input id="user_{{ i.id }}" type="hidden" data-email="{{ i.email }}" data-first="{{ i.first_name }}" data-last="{{ i.last_name }}" data-progid="{{ i.program_id }}"/>
    {% endfor %}

</div>

{% endblock content %}

{% block local_js %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function() {
        $("#id_account_selector").change(function() {
            var data = $(this).val();
            var user_d = $("#user_"+data);
            $("#id_username").val(user_d.attr('data-email'));
            $("#id_first_name").val(user_d.attr('data-first'));
            $("#id_last_name").val(user_d.attr('data-last'));
            $("#id_program_id").val(user_d.attr('data-progid'));
        });
        $("#google_account_selector").change(function() {
            var data = $(this).val();
            var user_d = $("#"+data);
            $("#id_username").val(user_d.attr('data-email'));
            $("#id_first_name").val(user_d.attr('data-first'));
            $("#id_last_name").val(user_d.attr('data-last'));
            $("#id_program_id").val(user_d.attr('data-progid'));
        });
    });
</script>

<script type="text/javascript">
  // Client ID and API key from the Developer Console
  // var CLIENT_ID = "404255764431-5q96ldg41ctml8s6fnlhf4tq9gq8akbi.apps.googleusercontent.com";
  var CLIENT_ID = "820078708149-k2t3jqsrpspluajv5r04dahmh2e71lf5.apps.googleusercontent.com";
  
  // Array of API discovery doc URLs for APIs used by the quickstart
  var DISCOVERY_DOCS = ["https://sheets.googleapis.com/$discovery/rest?version=v4"];

  // Authorization scopes required by the API; multiple scopes can be
  // included, separated by spaces.
  var SCOPES = "https://www.googleapis.com/auth/spreadsheets.readonly";

  var authorizeButton = document.getElementById('authorize-button');
  var signoutButton = document.getElementById('signout-button');

  /**
   *  On load, called to load the auth2 library and API client library.
   */
  function handleClientLoad() {
    gapi.load('client:auth2', initClient);
  }

  /**
   *  Initializes the API client library and sets up sign-in state
   *  listeners.
   */
  function initClient() {
    gapi.client.init({
      discoveryDocs: DISCOVERY_DOCS,
      clientId: CLIENT_ID,
      scope: SCOPES
    }).then(function () {
      // Listen for sign-in state changes.
      gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

      // Handle the initial sign-in state.
      updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
      authorizeButton.onclick = handleAuthClick;
      signoutButton.onclick = handleSignoutClick;
    });
  }

  /**
   *  Called when the signed in status changes, to update the UI
   *  appropriately. After a sign-in, the API is called.
   */
  function updateSigninStatus(isSignedIn) {
    if (isSignedIn) {
      authorizeButton.style.display = 'none';
      signoutButton.style.display = 'block';
      selector_panel = document.getElementById("div_id_google_account_selector");
      selector_panel.style.display = 'block';
      listMajors();
    } else {
      authorizeButton.style.display = 'block';
      signoutButton.style.display = 'none';
    }
  }

  /**
   *  Sign in the user upon button click.
   */
  function handleAuthClick(event) {
    gapi.auth2.getAuthInstance().signIn();
  }

  /**
   *  Sign out the user upon button click.
   */
  function handleSignoutClick(event) {
    gapi.auth2.getAuthInstance().signOut();
  }

  function appendChoice(user_info) {
    var selector = document.getElementById("google_account_selector");
    var opt = document.createElement("option");
    opt.setAttribute("value", user_info[0]);
    var disp = document.createTextNode(user_info[1] + " " + user_info[2] + ", " + user_info[3]);
    opt.appendChild(disp);
    selector.appendChild(opt)


    var db_list = document.getElementById('google_db_users');
    var input = document.createElement("input");
    input.setAttribute("id", user_info[0]);
    input.setAttribute("type", "hidden");
    input.setAttribute("data-progid", user_info[0])
    input.setAttribute("data-first", user_info[1]);
    input.setAttribute("data-last", user_info[2]);
    input.setAttribute("data-email", user_info[3]);

    db_list.appendChild(input);
  }

  /**
   * Print the names and majors of students in a sample spreadsheet:
   * https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit
   */
  function listMajors() {
    var file_id = document.getElementById('google_id').value;
    gapi.client.sheets.spreadsheets.values.get({
      spreadsheetId: file_id,
      range: 'Form Responses 2!A2:V',
    }).then(function(response) {
      var range = response.result;
      if (range.values.length > 0) {
        for (i = 0; i < range.values.length; i++) {
          var row = range.values[i];
          if(row[0] !== undefined) {            
              var user_data = [row[0], row[7], row[9], row[21]];
              appendChoice(user_data);
          } else {
            break;
          }
        }
      } else {
        appendChoice('No data found.');
      }
    }, function(response) {
      appendChoice('Error: ' + response.result.error.message);
    });
  }
</script>

{% if google_db %}
<script async defer src="https://apis.google.com/js/api.js"
  onload="this.onload=function(){};handleClientLoad()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
{% endif %}
{% endblock local_js %}
