<!-- pretest_user_list.html -->
{% extends "pretest_base.html" %}
{% load staticfiles %}

{% block page_header %}
	<div class="col-md-12 text-center">
	    <h2><i class="fa fa-cogs"></i> Tokens for {{ account }}</h2>
	</div>
{% endblock page_header %}

{% block content %}
	<div class="col-md-10 col-md-offset-1">
		<div class="table-responsive">
  			<table class="table table-condensed">
  				<thead>
  					<tr>
  						<th>status</th>
  						<th>email</th>
  						<th>token</th>
  						<th>first</th>
  						<th>last</th>
  						<th>edit</th>
  						<th>email token</th>
  					</tr>
  				</thead>
  				<tbody>
				{% for i in pretest_users %}
					<tr>
					<td>
					{% if i.1 > 0%}
						<span class="label label-danger">{{ i.1 }}</span>
						<a href="{%  url 'pretestapp:pretest_user_detail' i.0.id %}"> view </a>
					{% elif i.1 == 0 and i.0.email %}
						<span class="label label-warning">{{ i.1 }}</span>
						<a href="{%  url 'pretestapp:pretest_user_detail' i.0.id %}"> view </a>
					{% else %}
						<span class="label label-success">&nbsp;&nbsp;</span>
					{% endif %}
					</td>
					<td>{{ i.0.email }}</td>
					<td>{{ i.0.access_token }}</td>
					<td>{{ i.0.first_name }}</td>
					<td>{{ i.0.last_name }}</td>
					<td><a href="{% url 'pretestapp:pretest_user_edit' i.0.id %}">edit</a></td>
					<td>
					{% if i.0.email %}
						<a href="{% url 'pretestapp:pretest_send_token' i.0.id %}">email token</a>
					{% endif %}
					</td>
					</tr>
				{% endfor %}
				</tbody>
  			</table>
		</div>		
	</div>
{% endblock content %}