<!-- pretest_user_edit.html -->
{% extends "pretest_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="col-md-12 text-center">
    <p class="lead">Assign a Token to User</p>
</div>
{% endblock page_header %}

{% block content %}
    <div class="col-md-12">
        <h4>Access Token: <strong>{{ object.access_token }}</strong></h4>
        <small>The user will need to enter the <strong>email address</strong> and <strong>token</strong> in order to access the pretests.</small>
        <form method="post" action=".">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-sm btn-success" type="submit">Assign Access Token</button>
            <a href="{% url 'pretestapp:pretest_home' %}" class="btn btn-link">cancel</a>
        </form>
        
    </div>
{% endblock content %}
