<!-- pretest_user_list.html -->
{% extends "pretest_base.html" %}
{% load staticfiles %}

{% block page_header %}
	<div class="col-md-12 text-center">
	    <h2><i class="fa fa-cogs"></i> Tokens for {{ account }}</h2>
	    
	    <h6><a href="{% url 'pretestapp:pretest_account_staff_report' account.id %}">{{ account }} scores</a></h6>
	    <h6><a href="{% url 'pretestapp:pretest_user_add' account.id %}" class="btn btn-md btn-link">Click here to add a new pretest user</a></h6>

	    <!--<h6><a href="" class="btn btn-md btn-link">Click here to request a ggvuser account for a student who has pretested</a></h6>-->
	</div>
{% endblock page_header %}

{% block content %}
	<div class="col-md-12">
		<dl class="dl-horizontal">
		  <dt>Your pretest quota:</dt><dd>{{ pretest_stat.purchased }}</dd>
		  <dt>Pretests assigned:</dt><dd>{{ pretest_stat.used }}</dd>
		  <dt>Pretests available:</dt>
		    <dd>
		      {% if pretest_stat.available == 0 %}
		        <span class="label label-danger">{{ pretest_stat.available }}</span>
		        <em>contact GGV staff to purchase additional tests.</em>
		      {% else %}
		        <span class="label label-success"> {{ pretest_stat.available }}</span>
		      {% endif %}
		    </dd>
		</dl>
	</div>
	<div class="col-md-12">
		<div class="row" id="sorter">
			<div class="col-md-1"><button class="btn btn-md btn-block" data-sort-by='date' data-order="asc"><i class="fa fa-sort"></i> date</button></div>
			<div class="col-md-1"><button class="btn btn-md btn-block" data-sort-by='status' data-order="asc"> <i class="fa fa-sort"></i> status</button></div>
			<div class="col-md-1"><button class="btn btn-md btn-block" data-sort-by='id' data-order="asc"> <i class="fa fa-sort"></i> id</button></div>
			<div class="col-md-2"><button class="btn btn-md btn-block" data-sort-by='email' data-order="asc"> <i class="fa fa-sort"></i> email</button></div>
			<div class="col-md-1"><button class="btn btn-md btn-block" data-sort-by='token' data-order="asc"> <i class="fa fa-sort"></i> token</button></div>
			<div class="col-md-1"><button class="btn btn-md btn-block" data-sort-by='first' data-order="asc"> <i class="fa fa-sort"></i> first</button></div>
			<div class="col-md-1"><button class="btn btn-md btn-block" data-sort-by='last' data-order="asc"> <i class="fa fa-sort"></i> last</button></div>
			<div class="col-md-1"><button class="btn btn-md btn-block" disabled>pretests</button></div>
			
		</div>
		<div class="row" id="container">
			{% for i in pretest_users %}
			<div class="col-md-12 item hoverpad">
				<div class="row small">				
					<div class="col-md-1 date" data-modified="{{ i.0.modified|date:'U' }}"><small>{{ i.0.modified|date:"Y-m-d" }}</small></div>
					<div class="col-md-1 status">
						<span class="{% if i.1 == i.2|length and i.1 > 0 %}label label-success{% endif %}">{{ i.1 }}/{{ i.2|length }}</span>
						<a href="{%  url 'pretestapp:pretest_user_detail' i.0.id %}"> view </a>						
					</div>
					<div class="col-md-1 prog_id">{{ i.0.program_id }}</div>
					<div class="col-md-2 email">{{ i.0.email|truncatechars:24}}</div>
					<div class="col-md-1 token">{{ i.0.access_token }}</div>
					<div class="col-md-1 first">{{ i.0.first_name }}</div>
					<div class="col-md-1 last">{{ i.0.last_name }}</div>
					<div class="col-md-1 pretests">
						<div class="label label-default" data-toggle="popover" data-trigger="hover" data-html="true" title="Assigned Pre Tests" data-content="<ul class='list-group'><small>{% for t in i.2 %} <li class='list-group-item'>{{ t }}</li> {% endfor %}</small></ul>">{{ i.2|length }} pretests</div>
						
				    </div>
					<div class="col-md-2">
						<div class="row">
							<div class="col-md-4"><a href="{% url 'pretestapp:pretest_user_edit' i.0.id %}" title="Add or remove pretest assignments and make other edits to this pretest user account." class="btn btn-link btn-xs"><i class="fa fa-pencil"></i> edit</a></div>
							{% if i.0.email %}
								<div class="col-md-4"><a href="{% url 'pretestapp:pretest_send_token' i.0.id %}" title="Email pretest info to pretest user." class="btn btn-link btn-xs"><i class="fa fa-send"></i> token</a></div>
							{% endif %}
							<div class="col-md-4">
								{% if not i.3 %} 
									<a href="{% url 'pretestapp:pretest_request_user_account' account.id i.0.id %}" title="Request a GGV user account for this pretest user." class="btn btn-link btn-xs"><i class="fa fa-plus"></i> GGV</a>
								
								{% else %}
									<span title="Request for a GGV account for this pretest user's email is pending." class="label label-warning">pending</span>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}			
		</div>	
	</div>
{% endblock content %}

{% block local_js %}
<script src="{% static 'js/isotope.pkgd.min-3.0.4.js'%}"></script>

<script type="text/javascript">
	$(function() {
        var $container = $('#container').isotope({
            itemSelector: '.item',
            getSortData: {
                //date: '.date',
                date: '[data-modified] parseInt',
                status: '.status',
                id: '.prog_id',
                email: '.email',
                token: '.token',
                first: '.first',
                last: '.last',
            },
        });

        // sort items on button click
        $('#sorter .btn-block').on( 'click', function() {
            var sortByValue = $(this).attr('data-sort-by');
            var order = "";
            if ($(this).attr("data-order")==="asc") {
                order = true;
                $(this).attr("data-order", "");

            } else {
                order = false;
                $(this).attr("data-order", "asc");
            }
            $('#sorter .btn-primary').removeClass('btn-primary');
            $(this).addClass("btn-primary");

            $container.isotope({
                sortBy: sortByValue,
                sortAscending: order
            });
        });

        $(document).ready(function() {
            
        });

	});
</script>
{% endblock local_js %}