<!-- pretest_menu.html -->
{% extends "pretest_base.html" %}
{% load staticfiles %}

{% block page_header %}
	<div class="col-md-12">
	    <h2><i class="fa fa-home"></i> GGV Interactive Pretests</h2>
	</div>
{% endblock page_header %}

{% block content %}
	<hr>
	<div class="col-md-6 col-md-offset-3">
		{% for act in lesson.activities %}
			<h4>				
				<i class="fa fa-list-alt fa-2x"></i> 
				<a class="btn btn-lg btn-link media-heading" href="{% url 'pretestapp:pretest_start' act.id %}">{{ act.title }}</a>
				{% if act.id in completions %}
					<i class="fa fa-check fa-2x text-success"></i> <sup class="small">completed</sup>
				{% elif act.id in incompletions %}
					<i class="fa fa-check fa-2x text-success"></i> <sup class="small">in progress</sup>
				{% endif%}
			</h4>
		{% endfor %}
	</div>
	
{% endblock content %}