<!-- pretest_question.html -->
{% extends "pretest_base.html" %}

{% block page_header %}
	<div class="col-md-12 text-center">
	    <h2><i class="fa fa-list-alt fa-2x"></i> Begin {{ object.title }}</h2>
	</div>
{% endblock page_header %}

{% block content %}

	<div class="col-md-6 col-md-push-3 text-center">
		<p class="lead">{{ object.instructions|safe}}</p>
		<p class="block-center"><a class="btn btn-success btn-md" href="{% url 'pretestapp:pretest_take' object.id 1 %}">Begin <i class="fa fa-caret-right"></i></a></p>
	</div>

{% endblock content %}
