<!-- pretest_end.html -->
{% extends "pretest_base.html" %}

{% block page_header %}
	<div class="col-md-12 text-center">
	    <h2>{{ object.title }} Results </h2>
	    
	    <h4><a href="{% url 'pretestapp:pretest_menu' %}">Back to more tests? (¿Volver a más pruebas?)</a></h4>
	</div>
{% endblock page_header %}

{% block content %}

	<div class="col-md-10 col-md-offset-1">
		<p>Name (<em>Nombre</em>): {{ pretestuser.first_name }} {{ pretestuser.last_name }}</p>
		<p>Token (<em>Ficha</em>): {{ pretestuser.access_token }}</p>
		<p>Email: {{ pretestuser.email }}</p>
		<p>Started (<em>Comenzar</em>): {{ completion.0.created|date:"Y-M-d" }}</p>
		<p>Test (<em>Examen</em>): {{ object.title }}</p>
		<h3>Result (<em>Resultados</em>): {{ completion.1 }}</h3>
	</div>
	<div class="col-md-10 col-md-offset-1 small">
		<span class="label label-success">correct</span> 
		<span class="label label-warning">grade pending</span> 
		<span class="label label-danger">incorrect</span>
		<hr>
	</div>
	<div class="col-md-10 col-md-offset-1"> 
	
	<ul class="list-unstyled">
		{% for i in completion.2 %}
			{% if forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}<li><p style="margin: 10px">&nbsp;</p><p></p></li>{% endif %}
			
			{% if i.iscorrect %}
				<li class="label label-success" style="margin: 3px; padding: 10px; font-size: 1.0em">{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}</li> 
			{% elif i.score == -1 %}
				<li class="label label-warning" style="margin: 3px; padding: 10px; font-size: 1.0em" title="grade for this question is pending">{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}</li> 
			{% else %}
				<li class="label label-danger" style="margin: 3px; padding: 10px; font-size: 1.0em">{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}</li> 
			{% endif %}	

		{% endfor %}
		</ul>	
	</div>

{% endblock content %}
