<!-- pretest_user_edit.html -->
{% extends "pretest_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="col-md-12 text-center">
    <p class="lead"><i class="fa fa-cog"></i> Assign a Token to User</p>
</div>
{% endblock page_header %}

{% block content %}
    <div class="col-md-12">
        <h4>Users are required to enter the <strong>email address</strong> and <strong>token</strong> indicated below in order to gain access to the pretests.</h4>
        
        {% if object.completion_status %}
            <div class="well">
            <h3 class="text-danger center-block text-center">WARNING</h3> 
            <p>The user assigned to this token <strong>has completed</strong> or is <strong>in the process of completing</strong> pretests. Modifying the email for this token may prevent the user from accessing their assigned pretests or their results.</p>
            </div>
        {% endif %}
    
        <h3><span class="small">Access Token <i class="fa fa-caret-right"></i></span> {{ object.access_token }}</h3>
        <form method="post" action=".">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-sm btn-success" type="submit">{% if object.email %}Update{% else %}Assign Access Token{% endif %}</button>
            <a href="{% url 'pretestapp:pretest_user_list' %}" class="btn btn-link">cancel</a>
        </form>
        
    </div>
{% endblock content %}
