<!-- pretest_user_detail.html -->
{% extends "pretest_base.html" %}
{% load staticfiles %}


{% block page_header %}
<div class="col-md-12 text-center">
    <h2 class="lead">Pretest Token Account</h2>
    <h5>{{ object.first_name }} {{ object.last_name }}</h5>
    <h5><a href="{% url 'pretestapp:pretest_user_list' object.account.id %}" class="btn btn-link"><i class="fa fa-caret-left"></i> Back to account list</a></h5>
</div>
{% endblock page_header %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <dl class="dl-horizontal">
        <dt>Token:</dt><dd> {{ object.access_token }} <a href="{% url 'pretestapp:pretest_user_edit' object.id %}" class="btn btn-link">edit</a></dd>
        <dt>Pretester:</dt><dd> {{ object.first_name }} {{ object.last_name }}</dd>
        <dt>Email:</dt><dd> {{ object.email }}</dd>
        <dt>Program ID:</dt><dd> {{ object.ggvuser.program_id }}</dd>
        <dt>Date Created:</dt><dd> {{ object.created|date:"Y-M-d" }}</dd>
        <dt>Pretest Exams:</dt><dd>
        <ul class="list-inline">{% for i in bundle %}<li><em>{{ i }}{% if not forloop.last %},{% endif %}</em></li>{% endfor %}</ul>
        </dd></dl>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <h4>Current Available Scores <small>({{ completions|length }} of {{ bundle|length }} exams have been attempted.)</small> </h4>
        <p>
            <span class="label label-success">correct</span> 
            <span class="label label-warning">grade pending</span> 
            <span class="label label-danger">incorrect</span>
        </p>
        {% for i in completions %}
            <dt>
                <i class="fa fa-list-alt"></i> {{ i.0.completed_pretest }}: 
                <span class="badge">{{ i.1 }}</span> <p> <small class="text-muted">{{ i.0.modified|date:"n/j/Y" }}</small></p></dt>
            <dd>
            <ul>
            {% for j in i.2 %}
                {% if forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}<p></p>{% endif %}
                {% if j.iscorrect %}
                    <li class="label label-success text-center" style="margin: 3px" >{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }} </li> 
                {% elif i.score == -1 %}
                    <li class="label label-warning text-center" style="margin: 3px" >{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }} </li>
                {% else %}
                    <li class="label label-danger text-center" style="margin: 3px" >{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }} </li> 
                {% endif %} 
            
            {% endfor %}
            </ul>
            </dd>
        {% endfor %}
            
        
    </div>
{% endblock content %}
